[Desktop Entry]
Name=SmartCafe Client
Name[ru]=Клиент SmartCafe
Exec=/usr/bin/smartcafe_client
Icon=aspia_client.png
Type=Application
Categories=Utility;
Terminal=false
