//
// PROJECT:         Aspia
// FILE:            console/console.rc
// LICENSE:         GNU General Public License 3
// PROGRAMMERS:     Dmitry Chapyshev (dmitry@aspia.ru)
//

#define WIN32_LEAN_AND_MEAN
#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDI_ICON1 ICON "resources/main.ico"
IDI_ICON2 ICON "resources/address-book.ico"

#define ASPIA_ORIGINAL_FILE_NAME "aspia_console.exe"
#define ASPIA_FILE_DESCRIPTION "Aspia Console"

#include "version.rc"
