//
// PROJECT:         Aspia
// FILE:            console/console.rc
// LICENSE:         GNU Lesser General Public License 2.1
// PROGRAMMERS:     Dmitry Chapyshev (dmitry@aspia.ru)
//

#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

1 ICON "resources/main.ico"

#define VER_FILEVERSION             1,0,0,0
#define VER_FILEVERSION_STR         L"1.0.0.0\0"
#define VER_ORIGINALFILENAME_STR    "aspia_console.exe\0"
#define VER_FILEDESCRIPTION_STR     "Aspia Console"

#include "version.rc"
