//
// PROJECT:         Aspia
// FILE:            console/console.rc
// LICENSE:         GNU Lesser General Public License 2.1
// PROGRAMMERS:     Dmitry Chapyshev (dmitry@aspia.ru)
//

#define WIN32_LEAN_AND_MEAN
#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

1 ICON "resources/main.ico"

#define ASPIA_ORIGINAL_FILE_NAME "aspia_console.exe"
#define ASPIA_FILE_DESCRIPTION "Aspia Console"

#include "version.rc"
