[Desktop Entry]
Name=SmartCafe Host
Name[ru]=Хост SmartCafe
Exec=/usr/bin/smartcafe_host
Icon=aspia_host.png
Type=Application
Categories=Utility;
Terminal=false
