//
// PROJECT:         Aspia
// FILE:            host/host_config.rc
// LICENSE:         GNU General Public License 3
// PROGRAMMERS:     Dmitry Chapyshev (dmitry@aspia.ru)
//

#define WIN32_LEAN_AND_MEAN
#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

1 RT_MANIFEST "host_config.manifest"
IDI_ICON1 ICON "resources/host-config.ico"

#define ASPIA_ORIGINAL_FILE_NAME "aspia_host_config.exe"
#define ASPIA_FILE_DESCRIPTION "Aspia Host Configuration"

#include "version.rc"
