//
// PROJECT:         Aspia
// FILE:            ui/lang/en-US.rc
// LICENSE:         GNU Lesser General Public License 2.1
// PROGRAMMERS:     Dmitry Chapyshev (dmitry@aspia.ru)
//

#include "ui/resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

// UTF-8
#pragma code_page(65001)

// General
STRINGTABLE DISCARDABLE
BEGIN
    IDS_APPLICATION_NAME          "Aspia"
    IDS_START                     "&Start"
    IDS_STOP                      "&Stop"
    IDS_DONATE_LINK               "https://aspia.org/donate"
    IDS_SITE_LINK                 "https://aspia.org"
    IDS_HELP_LINK                 "https://aspia.org/help"

    IDS_CONFIRMATION                      "Confirmation"
    IDS_CONNECTION                        "Connection to: %s:%lu"
    IDS_INVALID_USERNAME                  "The user name can not be empty and can contain only alphabet characters, numbers and ""_"", ""-"", ""."" characters."
    IDS_USER_ALREADY_EXISTS               "A user with the specified name already exists."
    IDS_INVALID_PASSWORD                  "Password can not be shorter than 6 characters."
    IDS_PASSWORDS_NOT_MATCH               "The passwords you entered do not match."
    IDS_SESSION_TYPE_DESKTOP_MANAGE       "Desktop Manage"
    IDS_SESSION_TYPE_DESKTOP_VIEW         "Desktop View"
    IDS_SESSION_TYPE_FILE_TRANSFER        "File Transfer"
    IDS_SESSION_TYPE_SYSTEM_INFO          "System Information"
    IDS_DELETE_USER_CONFORMATION          "Are you sure you want to delete the user ""%s""?"
    IDS_USER_LIST                         "User List"
    IDS_INFORMATION                       "Information"
    IDS_LANG_CHANGE_INFORMATION           "The language will be changed after the application is restarted."
END

// File Transfer
STRINGTABLE DISCARDABLE
BEGIN
    IDS_FT_FILE_TRANSFER                  "File Transfer"
    IDS_FT_LOCAL_COMPUTER                 "Local Computer"
    IDS_FT_REMOTE_COMPUTER                "Remote Computer"
    IDS_FT_COLUMN_NAME                    "Name"
    IDS_FT_COLUMN_SIZE                    "Size"
    IDS_FT_COLUMN_TYPE                    "Type"
    IDS_FT_COLUMN_MODIFIED                "Modified"
    IDS_FT_COLUMN_TOTAL_SPACE             "Total Space"
    IDS_FT_COLUMN_FREE_SPACE              "Free Space"
    IDS_FT_TOOLTIP_REFRESH                "Refresh the file list (F5)"
    IDS_FT_TOOLTIP_DELETE                 "Delete selected object(s) (Delete)"
    IDS_FT_TOOLTIP_FOLDER_ADD             "Create a new folder"
    IDS_FT_TOOLTIP_FOLDER_UP              "Browse to parent folder (Backspace)"
    IDS_FT_TOOLTIP_HOME                   "Browse to drives (Ctrl+Backspace)"
    IDS_FT_TOOLTIP_SEND                   "Send selected object(s) to remote computer (F11)"
    IDS_FT_TOOLTIP_RECIEVE                "Send selected object(s) to local computer (F11)"
    IDS_FT_HOME_FOLDER                    "Home Folder"
    IDS_FT_DESKTOP_FOLDER                 "Desktop"
    IDS_FT_SIZE_TBYTES                    "TB"
    IDS_FT_SIZE_GBYTES                    "GB"
    IDS_FT_SIZE_MBYTES                    "MB"
    IDS_FT_SIZE_KBYTES                    "kB"
    IDS_FT_SIZE_BYTES                     "B"
    IDS_FT_NEW_FOLDER                     "New Folder"
    IDS_FT_COMPUTER                       "Computer"
    IDS_FT_DRIVE_DESC_DESKTOP             "User's Desktop Folder"
    IDS_FT_DRIVE_DESC_HOME                "User's Home Folder"
    IDS_FT_DRIVE_DESC_CDROM               "Optical Drive"
    IDS_FT_DRIVE_DESC_FIXED               "Fixed Device"
    IDS_FT_DRIVE_DESC_REMOVABLE           "Removable Device"
    IDS_FT_DRIVE_DESC_REMOTE              "Remote Drive"
    IDS_FT_DRIVE_DESC_RAM                 "RAM Drive"
    IDS_FT_DRIVE_DESC_UNKNOWN             "Unknown Device"
    IDS_FT_DELETE_CONFORM                 "Do you really want to delete %u objects?"
    IDS_FT_OP_SESSION_START               "Session started"
    IDS_FT_OP_SESSION_END                 "Session terminated"
    IDS_FT_OP_BROWSE_FOLDERS              "Browse folders: ""%s"""
    IDS_FT_OP_RENAME                      "Rename: ""%s"" to ""%s"""
    IDS_FT_OP_REMOVE                      "Remove: ""%s"""
    IDS_FT_OP_CREATE_FOLDER               "Create folder: ""%s"""
    IDS_FT_OP_BROWSE_DRIVES               "Browse drives"
    IDS_FT_OP_SEND_FILE                   "Sending a file: ""%s"""
    IDS_FT_OP_RECIEVE_FILE                "Recieving a file: ""%s"""
    IDS_FT_SEND                           "Send"
    IDS_FT_RECIEVE                        "Recieve"
    IDS_FT_SELECTED_OBJECT_COUNT          "%lu object(s) selected"
    IDS_FT_BROWSE_FOLDERS_ERROR           "An error occurred while trying to view the folder ""%s"": %s"
    IDS_FT_OP_RENAME_ERROR                "An error occurred when renaming object ""%s"" to ""%s"": %s"
    IDS_FT_OP_CREATE_FOLDER_ERROR         "An error occurred while trying to create the folder ""%s"": %s"
    IDS_FT_OP_BROWSE_DRIVES_ERROR         "An error occurred while retrieving the drive list: %s"
    IDS_FT_FILE_FOLDER                    "File Folder"
    IDS_FT_CLOSE_WINDOW                   "Close window"
    IDS_FT_OP_FAILURE                     "An error occurred during the operation with object ""%s"": %s."
    IDS_FT_FILE_LIST_BUILDING             "Building a list of files..."
END

// Authorization Status
STRINGTABLE DISCARDABLE
BEGIN
    IDS_AUTH_STATUS_UNKNOWN                 "Unknown authorization status"
    IDS_AUTH_STATUS_SUCCESS                 "Successfully completed"
    IDS_AUTH_STATUS_ACCESS_DENIED           "Access denied"
END

// Request Status
STRINGTABLE DISCARDABLE
BEGIN
    IDS_REQUEST_STATUS_SUCCESS              "Successfully completed"
    IDS_REQUEST_STATUS_INVALID_PATH_NAME    "Invalid directory or file name"
    IDS_REQUEST_STATUS_PATH_NOT_FOUND       "Path not found"
    IDS_REQUEST_STATUS_PATH_ALREADY_EXISTS  "Path already exists"
    IDS_REQUEST_STATUS_NO_DRIVES_FOUND      "No drives found"
    IDS_REQUEST_STATUS_DISK_FULL            "Disk full"
    IDS_REQUEST_STATUS_ACCESS_DENIED        "Access denied"
    IDS_REQUEST_STATUS_FILE_OPEN_ERROR      "Could not open file for reading"
    IDS_REQUEST_STATUS_FILE_CREATE_ERROR    "Could not create or replace file"
    IDS_REQUEST_STATUS_FILE_WRITE_ERROR     "Could not write to file"
    IDS_REQUEST_STATUS_FILE_READ_ERROR      "Could not read file"
    IDS_REQUEST_STATUS_UNKNOWN              "Unknown request status code"
END

// Connection Status
STRINGTABLE DISCARDABLE
BEGIN
    IDS_CONN_STATUS_UNKNOWN                 "Unknown connection status"
    IDS_CONN_STATUS_SUCCESS                 "Successfully completed"
    IDS_CONN_STATUS_INVALID_ADDRESS         "Invalid address specified"
    IDS_CONN_STATUS_INVALID_PORT            "Invalid port specified"
    IDS_CONN_STATUS_CONNECT_TIMEOUT         "Connection timeout"
    IDS_CONN_STATUS_CONNECT_ERROR           "Unable to establish connection"
    IDS_CONN_STATUS_CONNECTING              "Connecting"
END
