//
// PROJECT:         Aspia Remote Desktop
// FILE:            ui/lang/nl-NL.rc
// LICENSE:         Mozilla Public License Version 2.0
// TRANSLATOR:      Mark Jansen
//

#include "ui/resource.h"

LANGUAGE LANG_DUTCH, SUBLANG_NEUTRAL

// UTF-8
#pragma code_page(65001)

IDD_MAIN DIALOGEX 100, 100, 335, 152
STYLE DS_SHELLFONT | WS_BORDER | WS_OVERLAPPED | WS_SYSMENU | DS_CENTER | WS_MINIMIZEBOX | WS_CAPTION
CAPTION "Aspia Remote Desktop"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Server", -1, 5, 5, 160, 130
    LTEXT "Vul uw IP-addressen in:", -1, 12, 17, 100, 9
    CONTROL "", IDC_IP_LIST, "SysListView32", LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_SORTASCENDING | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 12, 28, 146, 82
    PUSHBUTTON "", IDC_UPDATE_IP_LIST_BUTTON, 12, 115, 16, 14, BS_ICON
    PUSHBUTTON "&Start", IDC_START_SERVER_BUTTON, 98, 115, 60, 14

    GROUPBOX "Client", -1, 170, 5, 160, 130
    LTEXT "Server Adres:", -1, 177, 17, 90, 9
    EDITTEXT IDC_SERVER_ADDRESS_EDIT, 177, 28, 146, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | ES_AUTOHSCROLL

    LTEXT "Server Poort:", -1, 177, 47, 100, 9
    EDITTEXT IDC_SERVER_PORT_EDIT, 177, 58, 50, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | ES_AUTOHSCROLL | ES_NUMBER
    AUTOCHECKBOX "Gebruik standaard", IDC_SERVER_DEFAULT_PORT_CHECK, 235, 60, 85, 8

    LTEXT "Sessie Type:", -1, 177, 77, 90, 9
    COMBOBOX IDC_SESSION_TYPE_COMBO, 177, 88, 125, 150, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL
    PUSHBUTTON "...", IDC_SETTINGS_BUTTON, 307, 88, 16, 13

    DEFPUSHBUTTON "&Verbinden", IDC_CONNECT_BUTTON, 263, 115, 60, 14
END

IDD_STATUS DIALOGEX 100, 100, 251, 90
STYLE DS_SHELLFONT | WS_BORDER | WS_THICKFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Verbindings Status"
FONT 8, "MS Shell Dlg"
BEGIN
    EDITTEXT IDC_STATUS_EDIT, 5, 5, 240, 60, WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP | ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL
    DEFPUSHBUTTON "&Annuleren", IDCANCEL, 196, 70, 50, 14
END

IDD_AUTH DIALOGEX 100, 100, 194, 73
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Autorisatie"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Gebruikersnaam:", -1, 10, 14, 65, 10
    EDITTEXT IDC_USERNAME_EDIT, 75, 11, 108, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP

    LTEXT "Wachtwoord:", -1, 10, 34, 65, 10
    EDITTEXT IDC_PASSWORD_EDIT, 75, 31, 108, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_PASSWORD

    DEFPUSHBUTTON "&OK", IDOK, 78, 53, 50, 14
    PUSHBUTTON "&Annuleren", IDCANCEL, 134, 53, 50, 14
END

IDD_SETTINGS DIALOGEX 20, 16, 188, 185
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Verbindings Instellingen"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Codec:", -1, 7, 7, 173, 10
    COMBOBOX IDC_CODEC_COMBO, 7, 18, 173, 150, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL

    LTEXT "Kleur diepte:", IDC_COLOR_DEPTH_TEXT, 7, 38, 173, 10
    COMBOBOX IDC_COLOR_DEPTH_COMBO, 7, 49, 173, 150, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL

    LTEXT "", IDC_COMPRESS_RATIO_TEXT, 7, 68, 173, 10
    LTEXT "Snel", IDC_FAST_TEXT, 7, 84, 28, 10
    RTEXT "Beste", IDC_BEST_TEXT, 152, 84, 28, 10
    CONTROL "", IDC_COMPRESS_RATIO_TRACKBAR, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 36, 81, 114, 14

    LTEXT "Scherm update interval (ms):", -1, 7, 105, 138, 10
    EDITTEXT IDC_INTERVAL_EDIT, 148, 102, 32, 14, ES_RIGHT | ES_NUMBER | WS_GROUP
    CONTROL "", IDC_INTERVAL_UPDOWN, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_BORDER | WS_GROUP, 168, 102, 12, 14

    AUTOCHECKBOX "Schakel &cursor vorm in", IDC_ENABLE_CURSOR_SHAPE_CHECK, 9, 125, 171, 8
    AUTOCHECKBOX "Schakel &klembord in", IDC_ENABLE_CLIPBOARD_CHECK, 9, 143, 171, 8

    DEFPUSHBUTTON "&OK", IDOK, 56, 165, 60, 14
    PUSHBUTTON "&Annuleren", IDCANCEL, 121, 165, 60, 14
END

IDD_ABOUT DIALOGEX 100, 100, 271, 280
STYLE DS_SHELLFONT | WS_BORDER | WS_THICKFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Over"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL -1, IDC_ABOUT_ICON, "STATIC", SS_ICON | SS_CENTERIMAGE | SS_REALSIZEIMAGE, 15, 10, 32, 32

    LTEXT "Aspia Remote Desktop (1.0.0.0)", IDC_VERSION_TEXT, 67, 15, 180, 11
    LTEXT "© 2016-2017 Dmitry Chapyshev", -1, 66, 27, 180, 10

    EDITTEXT IDC_ABOUT_EDIT, 5, 45, 260, 175, WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP | ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL
    CONTROL "", IDC_BUTTON_GROUP, "STATIC", SS_OWNERDRAW, 5, 226, 260, 27
    DEFPUSHBUTTON "&Doneer!", IDC_DONATE_BUTTON, 96, 232, 162, 15
    PUSHBUTTON "&Bezoek site", IDC_SITE_BUTTON, 13, 232, 75, 15

    PUSHBUTTON "&Sluiten", IDOK, 205, 259, 60, 14
END

IDD_USER_PROP DIALOGEX 100, 100, 219, 225
STYLE DS_SHELLFONT | WS_BORDER | WS_THICKFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Gebruikerseigenschappen"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Gebruikers Naam:", -1, 10, 15, 77, 10
    EDITTEXT IDC_USERNAME_EDIT, 100, 11, 110, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    LTEXT "Wachtwoord:", -1, 10, 35, 77, 10
    EDITTEXT IDC_PASSWORD_EDIT, 100, 31, 110, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_PASSWORD
    LTEXT "Wachtwoord (opnieuw):", -1, 10, 55, 77, 10
    EDITTEXT IDC_PASSWORD_RETRY_EDIT, 100, 51, 110, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_PASSWORD

    AUTOCHECKBOX "Gebruiker uitschakelen", IDC_DISABLE_USER_CHECK, 105, 72, 122, 8

    LTEXT "Toegestane sessie typen:", -1, 10, 85, 130, 10
    CONTROL "", IDC_SESSION_TYPES_LIST, "SysListView32", LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 9, 97, 200, 101

    PUSHBUTTON "&OK", IDOK, 84, 204, 60, 14
    PUSHBUTTON "&Annuleren", IDCANCEL, 150, 204, 60, 14
END

IDD_USERS DIALOGEX 100, 100, 230, 172
STYLE DS_SHELLFONT | WS_BORDER | WS_THICKFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Gebruikers Beheer"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_USER_LIST, "SysListView32", LVS_REPORT | LVS_SORTASCENDING | LVS_NOSORTHEADER | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 32, 6, 191, 140

    PUSHBUTTON "", ID_ADD, 6, 6, 20, 18, BS_ICON
    PUSHBUTTON "", ID_EDIT, 6, 29, 20, 18, BS_ICON
    PUSHBUTTON "", ID_DELETE, 6, 53, 20, 18, BS_ICON

    PUSHBUTTON "&OK", IDOK, 99, 152, 60, 14
    PUSHBUTTON "&Annuleren", IDCANCEL, 164, 152, 60, 14
END

IDD_POWER DIALOGEX 100, 100, 138, 126
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
CAPTION "Energiebeheer"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL -1, IDC_POWER_ICON, "STATIC", SS_ICON | SS_CENTERIMAGE | SS_REALSIZEIMAGE, 8, 4, 32, 32

    LTEXT "Selecteer een actie:", -1, 50, 15, 150, 10

    AUTORADIOBUTTON "Afsl&uiten",         ID_POWER_SHUTDOWN,  56, 29, 77, 14
    AUTORADIOBUTTON "&Opnieuw opstarten", ID_POWER_REBOOT,    56, 46, 77, 14
    AUTORADIOBUTTON "&Sluimerstand",      ID_POWER_HIBERNATE, 56, 63, 77, 14
    AUTORADIOBUTTON "S&laapstand",        ID_POWER_SUSPEND,   56, 79, 77, 14

    DEFPUSHBUTTON "&OK", IDOK, 6, 107, 60, 14
    PUSHBUTTON "&Annuleren", IDCANCEL, 72, 107, 60, 14
END

IDD_POWER_HOST DIALOGEX 100, 100, 293, 59
STYLE DS_SHELLFONT | WS_BORDER | DS_MODALFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Aspia Remote Desktop"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL -1, IDC_POWER_ICON, "STATIC", SS_ICON | SS_CENTERIMAGE | SS_REALSIZEIMAGE, 8, 4, 32, 32

    LTEXT "", IDC_POWER_ACTION, 55, 8, 234, 10
    LTEXT "", IDC_POWER_TIME, 55, 24, 234, 10

    DEFPUSHBUTTON "&Nu uitvoeren", IDOK, 164, 40, 60, 14
    PUSHBUTTON "&Annuleren", IDCANCEL, 228, 40, 60, 14
END

IDD_FILE_PROGRESS DIALOGEX 100, 100, 315, 115
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
CAPTION "Voortgang"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Huidig item:", -1, 7, 6, 300, 10
    EDITTEXT IDC_CURRENT_ITEM_EDIT, 7, 17, 300, 14, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_READONLY

    LTEXT "Algehele voortgang:", -1, 7, 34, 300, 10
    CONTROL "", IDC_TOTAL_PROGRESS, PROGRESS_CLASS, WS_BORDER | WS_TABSTOP | PBS_SMOOTH | PBS_MARQUEE, 7, 45, 300, 14

    LTEXT "Voortgang van het huidige item:", -1, 7, 62, 300, 10
    CONTROL "", IDC_CURRENT_PROGRESS, PROGRESS_CLASS, WS_BORDER | WS_TABSTOP | PBS_SMOOTH | PBS_MARQUEE, 7, 73, 300, 14

    DEFPUSHBUTTON "&Annuleren", IDCANCEL, 247, 95, 60, 14
END

IDD_FILE_ACTION DIALOGEX 100, 100, 309, 95
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
CAPTION "Bestandsoverdracht"
FONT 8, "MS Shell Dlg"
BEGIN
    EDITTEXT IDC_CURRENT_ITEM_EDIT, 7, 7, 295, 42, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_READONLY | ES_MULTILINE

    PUSHBUTTON "&Vervangen", IDC_REPLACE_BUTTON, 7, 55, 70, 14
    PUSHBUTTON "&Alle vervangen", IDC_REPLACE_ALL_BUTTON, 82, 55, 70, 14
    PUSHBUTTON "&Overslaan", IDC_SKIP_BUTTON, 157, 55, 70, 14
    PUSHBUTTON "A&lle overslaan", IDC_SKIP_ALL_BUTTON, 232, 55, 70, 14

    PUSHBUTTON "&Annuleren", IDCANCEL, 232, 75, 70, 14
END

IDD_FILE_STATUS DIALOGEX 100, 100, 275, 175
STYLE DS_SHELLFONT | WS_BORDER | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "Bestandsoverdracht"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL -1, IDC_STATUS_EDIT, MSFTEDIT_CLASS, WS_CHILD | WS_BORDER | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP | ES_MULTILINE | ES_READONLY, 5, 5, 265, 148
    PUSHBUTTON "&Stop bestandsoverdracht", IDC_STOP_BUTTON, 70, 157, 125, 14
    PUSHBUTTON "&Minimaliseren", IDC_MINIMIZE_BUTTON, 200, 157, 70, 14
END

IDD_CATEGORY_SELECT DIALOGEX 100, 100, 220, 248
STYLE DS_SHELLFONT | WS_BORDER | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION "Save Report"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_CATEGORY_TREE, "SysTreeView32", WS_BORDER | WS_GROUP | WS_TABSTOP | TVS_HASLINES | TVS_HASBUTTONS | TVS_LINESATROOT, 5, 5, 209, 217
    PUSHBUTTON "", IDC_SELECT_ALL, 5, 227, 18, 16, BS_ICON
    PUSHBUTTON "", IDC_UNSELECT_ALL, 28, 227, 18, 16, BS_ICON

    DEFPUSHBUTTON "&Save", IDOK, 70, 227, 70, 16
    PUSHBUTTON "&Cancel", IDCANCEL, 145, 227, 70, 16
END

IDR_SHORTCUTS MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "Ctrl+Esc",        ID_KEY_CTRL_ESC
        MENUITEM "Alt+Tab",         ID_KEY_ALT_TAB
        MENUITEM "Alt+Shift+Tab",   ID_KEY_ALT_SHIFT_TAB
        MENUITEM "PrintScreen",     ID_KEY_PRINTSCREEN
        MENUITEM "Alt+PrintScreen", ID_KEY_ALT_PRINTSCREEN
        MENUITEM "Ctrl+Alt+F12",    ID_KEY_CTRL_ALT_F12
        MENUITEM "F12",             ID_KEY_F12
        MENUITEM "Ctrl+F12",        ID_KEY_CTRL_F12
    END
END

IDR_TRAY MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "Weergeven / Verbergen", ID_SHOWHIDE
        MENUITEM "Exit", ID_EXIT
    END
END

IDR_USER MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "&Bewerken...", ID_EDIT
        MENUITEM "&Verwijderen", ID_DELETE
        MENUITEM SEPARATOR
        MENUITEM "&Toevoegen...", ID_ADD
    END
END

IDR_MAIN MENU
BEGIN
    POPUP "&Aspia"
    BEGIN
        POPUP "&Service"
        BEGIN
            MENUITEM "&Installeren", ID_INSTALL_SERVICE
            MENUITEM "&Verwijderen", ID_REMOVE_SERVICE
        END
        MENUITEM "&Gebruikers...", ID_USERS
        MENUITEM SEPARATOR
        MENUITEM "&Verbergen", ID_SHOWHIDE
        MENUITEM "&Afsluiten\tAlt+F4", ID_EXIT
    END
    POPUP "&Tools"
    BEGIN
        MENUITEM "&System Information", ID_SYSTEM_INFO
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Online Help...\tF1", ID_HELP
        MENUITEM SEPARATOR
        MENUITEM "&Over...", ID_ABOUT
    END
END

IDR_IP_LIST MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "&Kopieren", ID_COPY
    END
END

IDR_SAVE_REPORT MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "Save &Current Page", ID_SAVE_CURRENT
        MENUITEM "Save &Selected", ID_SAVE_SELECTED
        MENUITEM "Save &All", ID_SAVE_ALL
    END
END

// General
STRINGTABLE DISCARDABLE
BEGIN
    IDS_APPLICATION_NAME          "Aspia Remote Desktop"
    IDS_START                     "&Start"
    IDS_STOP                      "&Stop"
    IDS_DONATE_LINK               "https://aspia.org/donate"
    IDS_SITE_LINK                 "https://aspia.org"
    IDS_HELP_LINK                 "https://aspia.org/help"

    IDS_ABOUT_STRING "Aspia Remote Desktop is vrije software, gereleased met de Mozilla Public License Version 2.0.\r\n\
                      Hier kunt u een kopie van de bekijken:\r\n\
                      https://www.mozilla.org/en-US/MPL/2.0\r\n\r\n\
                      Ontwikkelaars:\r\n\
                      • Dmitry Chapyshev (dmitry@aspia.ru)\r\n\r\n\
                      Translators:\r\n\
                      • Dmitry Chapyshev (Russian)\r\n\
                      • Mark Jansen (Dutch)\r\n\r\n\
                      Bij het ontwikkelen zijn de volgende projecten gebruikt:\r\n\
                      • Chromium © 2015, The Chromium Authors, BSD 3-Clause Licentie\r\n\
                      • WebRTC © 2011, The WebRTC project authors, BSD 3-Clause Licentie\r\n\
                      • libvpx © 2010, The WebM Project authors, BSD 3-Clause Licentie\r\n\
                      • libyuv © 2011 The LibYuv Project Authors, BSD 3-Clause Licentie\r\n\
                      • protobuf © 2014 Google Inc., BSD 3-Clause Licentie\r\n\
                      • libglog © 2008 Google Inc., BSD 3-Clause Licentie\r\n\
                      • gflags © 2006 Google Inc., BSD 3-Clause Licentie\r\n\
                      • zlib-ng © 1995-2013 Jean-loup Gailly and Mark Adler, Zlib Licentie\r\n\
                      • libsodium © 2013-2017 Frank Denis, ISC License\r\n\
                      • WTL © 2015 Microsoft Corporation, WTL Team, Common Public License 1.0\r\n\
                      • asio © 2003-2016 Christopher M. Kohlhoff, Boost Software License 1.0\r\n\
                      • RapidJSON © 2015 THL A29 Limited, a Tencent company, and Milo Yip, BSD License\r\n\
                      • RapidXML © 2003 Marcin Kalicinski, Boost Software License 1.0\r\n\
                      • FatCow Icons © 2009-2014 FatCow Web Hosting, Creative Commons Attribution 3.0 License\r\n\
                      • Fugue Icons © 2013 Yusuke Kamiyamane, Creative Commons Attribution 3.0 Licentie"

    IDS_CONFIRMATION                      "Bevestiging"
    IDS_CONNECTION                        "Verbinden naar: %s:%u"
    IDS_INVALID_USERNAME                  "De gebruikersnaam mag niet leeg zijn, en alleen letters, nummers en ""_"", ""-"", ""."" karakters bevatten."
    IDS_USER_ALREADY_EXISTS               "De gekozen gebruikersnaam bestaat al."
    IDS_INVALID_PASSWORD                  "Wachtwoord mag niet korter dan 6 karakters zijn."
    IDS_PASSWORDS_NOT_MATCH               "De opgegeven wachtwoorden komen niet overeen."
    IDS_SESSION_TYPE_DESKTOP_MANAGE       "Bureaublad beheer"
    IDS_SESSION_TYPE_DESKTOP_VIEW         "Bureaublad weergave"
    IDS_SESSION_TYPE_POWER_MANAGE         "Power beheer"
    IDS_SESSION_TYPE_FILE_TRANSFER        "Bestandsoverdracht"
    IDS_SESSION_TYPE_SYSTEM_INFO          "Systeem informatie"
    IDS_DELETE_USER_CONFORMATION          "Weet u zeker dat u de gebruiker ""%s"" wilt verwijderen?"
    IDS_USER_LIST_MODIFIED                "Gebruikers Beheer (*aangepast)"
    IDS_USER_LIST                         "Gebruikerslijst"
END

// Desktop Manage
STRINGTABLE DISCARDABLE
BEGIN
    IDS_DM_TOOLTIP_AUTO_SIZE              "Scherm automatische grootte"
    IDS_DM_TOOLTIP_SETTINGS               "Instellingen"
    IDS_DM_TOOLTIP_CAD                    "Stuur Ctrl+Alt+Del"
    IDS_DM_TOOLTIP_EXIT                   "Huidige verbinding sluiten"
    IDS_DM_TOOLTIP_FULLSCREEN             "Schakel over naar volledig scherm"
    IDS_DM_TOOLTIP_SHORTCUTS              "Zend een toetsencombinatie"
    IDS_DM_TOOLTIP_ABOUT                  "Over programma"
    IDS_DM_COMPRESSION_RATIO_FORMAT       "Compressie ratio: %d"
    IDS_DM_32BIT                          "Ware kleuren (32 bit)"
    IDS_DM_24BIT                          "Ware kleuren (24 bit)"
    IDS_DM_16BIT                          "Hoge kleuren (16 bit)"
    IDS_DM_15BIT                          "Hoge kleuren (15 bit)"
    IDS_DM_12BIT                          "Hoge kleuren (12 bit)"
    IDS_DM_8BIT                           "256 kleuren (8 bit)"
    IDS_DM_6BIT                           "64 kleuren (6 bit)"
    IDS_DM_3BIT                           "8 kleuren (3 bit)"
END

// File Transfer
STRINGTABLE DISCARDABLE
BEGIN
    IDS_FT_FILE_TRANSFER                  "Bestandsoverdracht"
    IDS_FT_LOCAL_COMPUTER                 "Lokale Computer"
    IDS_FT_REMOTE_COMPUTER                "Externe Computer"
    IDS_FT_COLUMN_NAME                    "Naam"
    IDS_FT_COLUMN_SIZE                    "Grootte"
    IDS_FT_COLUMN_TYPE                    "Type"
    IDS_FT_COLUMN_MODIFIED                "Gewijzigd"
    IDS_FT_COLUMN_TOTAL_SPACE             "Totale grootte"
    IDS_FT_COLUMN_FREE_SPACE              "Vrije ruimte"
    IDS_FT_TOOLTIP_REFRESH                "Ververs de bestandslijst (F5)"
    IDS_FT_TOOLTIP_DELETE                 "Verwijder de geselecteerde bestanden (Delete)"
    IDS_FT_TOOLTIP_FOLDER_ADD             "Nieuwe map aanmaken"
    IDS_FT_TOOLTIP_FOLDER_UP              "Navigeer een map terug (Backspace)"
    IDS_FT_TOOLTIP_HOME                   "Navigeer naar de schijf (Ctrl+Backspace)"
    IDS_FT_TOOLTIP_SEND                   "Stuur de geselecteerde objecten naar de externe computer (F11)"
    IDS_FT_TOOLTIP_RECIEVE                "Stuur de geselecteerde objecten naar de lokale computer (F11)"
    IDS_FT_HOME_FOLDER                    "Home Folder"
    IDS_FT_DESKTOP_FOLDER                 "Bureaublad"
    IDS_FT_SIZE_TBYTES                    "TB"
    IDS_FT_SIZE_GBYTES                    "GB"
    IDS_FT_SIZE_MBYTES                    "MB"
    IDS_FT_SIZE_KBYTES                    "kB"
    IDS_FT_SIZE_BYTES                     "B"
    IDS_FT_NEW_FOLDER                     "Nieuwe map"
    IDS_FT_COMPUTER                       "Computer"
    IDS_FT_DRIVE_DESC_DESKTOP             "Gebruikers Bureaublad"
    IDS_FT_DRIVE_DESC_HOME                "Gebruikers Home Folder"
    IDS_FT_DRIVE_DESC_CDROM               "Optische schijf"
    IDS_FT_DRIVE_DESC_FIXED               "Lokale schijf"
    IDS_FT_DRIVE_DESC_REMOVABLE           "Verwijderbare schijf"
    IDS_FT_DRIVE_DESC_REMOTE              "Externe schijf"
    IDS_FT_DRIVE_DESC_RAM                 "RAM schijf"
    IDS_FT_DRIVE_DESC_UNKNOWN             "Onbekend apparaat"
    IDS_FT_DELETE_CONFORM                 "Weet u zeker dat u %u objecten wilt verwijderen?"
    IDS_FT_OP_SESSION_START               "Sessie begonnen"
    IDS_FT_OP_SESSION_END                 "Sessie afgesloten"
    IDS_FT_OP_BROWSE_FOLDERS              "Navigeer mappen: ""%s"""
    IDS_FT_OP_RENAME                      "Hernoem ""%s"" naar ""%s"""
    IDS_FT_OP_REMOVE                      "Verwijder ""%s"""
    IDS_FT_OP_CREATE_FOLDER               "Maak map: ""%s"""
    IDS_FT_OP_BROWSE_DRIVES               "Navigeer schijven"
    IDS_FT_OP_SEND_FILE                   "Bestand versturen: ""%s"""
    IDS_FT_OP_RECIEVE_FILE                "Bestand ontvangen: ""%s"""
    IDS_FT_SEND                           "Zenden"
    IDS_FT_RECIEVE                        "Ontvangen"
    IDS_FT_SELECTED_OBJECT_COUNT          "%lu object(en) geselecteerd"
    IDS_FT_BROWSE_FOLDERS_ERROR           "Er is een error opgetreden bij het bekijken van de map ""%s"": %s"
    IDS_FT_OP_RENAME_ERROR                "Er is een error opgetreden bij het hernoemen van ""%s"" naar ""%s"": %s"
    IDS_FT_OP_CREATE_FOLDER_ERROR         "Er is een error opgetreden bij het maken van de map ""%s"": %s"
    IDS_FT_OP_BROWSE_DRIVES_ERROR         "Er is een error opgetreden bij het ophalen van de lijst met schijven: %s"
    IDS_FT_FILE_FOLDER                    "Bestands map"
    IDS_FT_CLOSE_WINDOW                   "Sluit scherm"
    IDS_FT_OP_FAILURE                     "Er is een error opgetreden met het object ""%s"": %s."
    IDS_FT_FILE_LIST_BUILDING             "Lijst van bestanden genereren..."
END

// Power Manage
STRINGTABLE DISCARDABLE
BEGIN
    IDS_PM_SHUTDOWN_COMMAND               "Er is een commando ontvangen om de computer af te sluiten."
    IDS_PM_REBOOT_COMMAND                 "Er is een commando ontvangen om de computer opnieuw op te starten"
    IDS_PM_HIBERNATE_COMMAND              "Er is een commando ontvangen om de computer in sluimerstand te zettten."
    IDS_PM_SUSPEND_COMMAND                "Er is een commando ontvangen om de computer in slaapstand te zetten."
    IDS_PM_TIME_LEFT                      "%d seconden voor toepassen."
END

// System Information
STRINGTABLE DISCARDABLE
BEGIN
    IDS_SI_SYSTEM_INFORMATION               "System Information"
    IDS_SI_SAVE_REPORT                      "Save Report"
    IDS_SI_TOOLTIP_SAVE                     "Save the report to a file"
    IDS_SI_TOOLTIP_HOME                     "Go to home category"
    IDS_SI_TOOLTIP_REFRESH                  "Reload current page"
    IDS_SI_TOOLTIP_ABOUT                    "About the program"
    IDS_SI_TOOLTIP_EXIT                     "Close the window and end the session"
END

// Request Status
STRINGTABLE DISCARDABLE
BEGIN
    IDS_REQUEST_STATUS_SUCCESS              "Successvol afgerond"
    IDS_REQUEST_STATUS_INVALID_PATH_NAME    "Ongeldige bestands/map naam"
    IDS_REQUEST_STATUS_PATH_NOT_FOUND       "Pad niet gevonden"
    IDS_REQUEST_STATUS_PATH_ALREADY_EXISTS  "Pad bestaat al"
    IDS_REQUEST_STATUS_NO_DRIVES_FOUND      "Geen schijven gevonden"
    IDS_REQUEST_STATUS_DISK_FULL            "Schijf vol"
    IDS_REQUEST_STATUS_ACCESS_DENIED        "Geen toegang"
    IDS_REQUEST_STATUS_FILE_OPEN_ERROR      "Kon het bestand niet openen om te lezen"
    IDS_REQUEST_STATUS_FILE_CREATE_ERROR    "Kon het bestand niet maken of vervangen"
    IDS_REQUEST_STATUS_FILE_WRITE_ERROR     "Kon niet naar het bestand schrijven"
    IDS_REQUEST_STATUS_FILE_READ_ERROR      "Kon het bestand niet lezen"
    IDS_REQUEST_STATUS_UNKNOWN              "Onbekende status code"
END

// Status
STRINGTABLE DISCARDABLE
BEGIN
    IDS_STATUS_SUCCESS                    "Successvol afgerond"
    IDS_STATUS_NO_CONSOLE_SESSION         "Geen console sessie"
    IDS_STATUS_ACCESS_DENIED              "Geen toegang"
    IDS_STATUS_INVALID_ADDRESS            "Ongeldig adres opgegeven"
    IDS_STATUS_INVALID_PORT               "Ongeldige poort opgegeven"
    IDS_STATUS_CONNECT_TIMEOUT            "Verbinding timeout"
    IDS_STATUS_CONNECT_ERROR              "Kan geen verbinding opzetten"
    IDS_STATUS_CONNECTING                 "Verbinden"
    IDS_STATUS_UNKNOWN                    "Onbekende status code"
END
