Source: qt5-base
Version: 5.15.0
Port-Version: 2
Homepage: https://www.qt.io/
Description: Qt5 Application Framework Base Module. Includes Core, GUI, Widgets, Networking, SQL, Concurrent and other essential qt components.
Build-Depends: zlib, zstd, libpng, freetype (!linux), pcre2, harfbuzz (!linux), sqlite3, double-conversion, openssl, angle (!windows), egl-registry, fontconfig (osx)

Feature: latest
Description: Build latest qt version (5.15.0) instead of LTS (latest and LTS are currently the same)
