//
// PROJECT:         Aspia Remote Desktop
// FILE:            gui/resource.rc
// LICENSE:         See top-level directory
// PROGRAMMERS:     Dmitry Chapyshev (dmitry@aspia.ru)
//

#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

// UTF-8
#pragma code_page(65001)

IDI_MAINICON   ICON "resource/main.ico"
IDI_ABOUT      ICON "resource/about.ico"
IDI_BELL       ICON "resource/bell.ico"
IDI_CAD        ICON "resource/cad.ico"
IDI_CLIP_RECV  ICON "resource/clip_recv.ico"
IDI_CLIP_SEND  ICON "resource/clip_send.ico"
IDI_EXIT       ICON "resource/exit.ico"
IDI_FULLSCREEN ICON "resource/fullscreen.ico"
IDI_IDEALSIZE  ICON "resource/idealsize.ico"
IDI_KEYS       ICON "resource/keys.ico"
IDI_POWER      ICON "resource/power.ico"
IDI_SETTINGS   ICON "resource/settings.ico"

1 24 "manifest.xml"
