//
// PROJECT:         Aspia
// FILE:            host/host_service.rc
// LICENSE:         GNU Lesser General Public License 2.1
// PROGRAMMERS:     Dmitry Chapyshev (dmitry@aspia.ru)
//

#define WIN32_LEAN_AND_MEAN
#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

#define ASPIA_ORIGINAL_FILE_NAME "aspia_host_service.exe"
#define ASPIA_FILE_DESCRIPTION "Aspia Host Service"

#include "version.rc"
