//
// PROJECT:         Aspia Remote Desktop
// FILE:            ui/resource.rc
// LICENSE:         Mozilla Public License Version 2.0
// PROGRAMMERS:     Dmitry Chapyshev (dmitry@aspia.ru)
//

#include "ui/resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

// UTF-8
#pragma code_page(65001)

IDI_MAIN                ICON "resource/main.ico"

IDI_ABOUT               ICON "resource/about.ico"
IDI_APPLICATIONS        ICON "resource/applications.ico"
IDI_AUTOSIZE            ICON "resource/autosize.ico"
IDI_BATTERY             ICON "resource/battery.ico"
IDI_BIOS                ICON "resource/bios.ico"
IDI_BOOKS_STACK         ICON "resource/books-stack.ico"
IDI_CAD                 ICON "resource/cad.ico"
IDI_CHECKED             ICON "resource/checked.ico"
IDI_CHIP                ICON "resource/chip.ico"
IDI_CLAPPERBOARD        ICON "resource/clapperboard.ico"
IDI_CLOCK               ICON "resource/clock.ico"
IDI_COMPUTER            ICON "resource/computer.ico"
IDI_COUNTER             ICON "resource/counter.ico"
IDI_DELETE              ICON "resource/delete.ico"
IDI_DISK                ICON "resource/disk.ico"
IDI_DOCUMENT_TEXT       ICON "resource/document-text.ico"
IDI_DRIVE               ICON "resource/drive.ico"
IDI_DRIVE_DISK          ICON "resource/drive-disk.ico"
IDI_ERROR_LOG           ICON "resource/error-log.ico"
IDI_EXIT                ICON "resource/exit.ico"
IDI_FOLDER              ICON "resource/folder.ico"
IDI_FOLDER_ADD          ICON "resource/folder_add.ico"
IDI_FOLDER_UP           ICON "resource/folder_up.ico"
IDI_FOLDER_NETWORK      ICON "resource/folder-network.ico"
IDI_FULLSCREEN          ICON "resource/fullscreen.ico"
IDI_GEAR                ICON "resource/gear.ico"
IDI_HARDWARE            ICON "resource/hardware.ico"
IDI_HOME                ICON "resource/home.ico"
IDI_KEYS                ICON "resource/keys.ico"
IDI_LICENSE_KEY         ICON "resource/license-key.ico"
IDI_MEMORY              ICON "resource/memory.ico"
IDI_MINUS               ICON "resource/minus.ico"
IDI_MONITOR             ICON "resource/monitor.ico"
IDI_MOTHERBOARD         ICON "resource/motherboard.ico"
IDI_MOUSE               ICON "resource/mouse.ico"
IDI_NETWORK             ICON "resource/network.ico"
IDI_NETWORK_ADAPTER     ICON "resource/network-adapter.ico"
IDI_NETWORK_IP          ICON "resource/network-ip.ico"
IDI_OS                  ICON "resource/os.ico"
IDI_PCI                 ICON "resource/pci.ico"
IDI_PENCIL              ICON "resource/pencil.ico"
IDI_PLUS                ICON "resource/plus.ico"
IDI_PORT                ICON "resource/port.ico"
IDI_POWER_SURGE         ICON "resource/power_surge.ico"
IDI_POWER_SUPPLY        ICON "resource/power-supply.ico"
IDI_PRINTER             ICON "resource/printer.ico"
IDI_PRINTER_SHARE       ICON "resource/printer-share.ico"
IDI_PROCESSOR           ICON "resource/processor.ico"
IDI_RECIEVE             ICON "resource/recieve.ico"
IDI_REFRESH             ICON "resource/refresh.ico"
IDI_ROUTE               ICON "resource/route.ico"
IDI_SELECT_ALL          ICON "resource/select_all.ico"
IDI_SEND                ICON "resource/send.ico"
IDI_SERVER              ICON "resource/server.ico"
IDI_SERVERS_NETWORK     ICON "resource/servers-network.ico"
IDI_SETTINGS            ICON "resource/settings.ico"
IDI_SOFTWARE            ICON "resource/software.ico"
IDI_SYSTEM_MONITOR      ICON "resource/system-monitor.ico"
IDI_TELEPHONE_FAX       ICON "resource/telephone-fax.ico"
IDI_UNCHECKED           ICON "resource/unchecked.ico"
IDI_UNSELECT_ALL        ICON "resource/unselect_all.ico"
IDI_USER                ICON "resource/user.ico"
IDI_USER_DISABLED       ICON "resource/user_disabled.ico"
IDI_USERS               ICON "resource/users.ico"

IDC_FILE_MANAGER_ACCELERATORS ACCELERATORS
BEGIN
    VK_F5, ID_REFRESH, VIRTKEY         // F5
    VK_BACK, ID_HOME, CONTROL, VIRTKEY // Ctrl + Backspace
    VK_BACK, ID_FOLDER_UP, VIRTKEY     // Backspace
    VK_DELETE, ID_DELETE, VIRTKEY      // Delete
    VK_F11, ID_SEND, VIRTKEY           // F11
END

IDC_SYSTEM_INFO_ACCELERATORS ACCELERATORS
BEGIN
    VK_F5, ID_REFRESH, VIRTKEY         // F5
END
