//
// PROJECT:         Aspia
// FILE:            ui/ui_main_resource.rc
// LICENSE:         Mozilla Public License Version 2.0
// PROGRAMMERS:     Dmitry Chapyshev (dmitry@aspia.ru)
//

#include "ui/resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

// UTF-8
#pragma code_page(65001)

IDI_MAIN ICON "ui/resource/main.ico"
