/*
* PROJECT:         Aspia Remote Desktop
* FILE:            gui/resource.rc
* LICENSE:         See top-level directory
* PROGRAMMERS:     Dmitry Chapyshev (dmitry@aspia.ru)
*/

#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_MAINDIALOG DIALOGEX 100, 100, 375, 160
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Aspia Remote Desktop"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Server", -1, 5, 5, 180, 150
    LTEXT "Connected clients:", -1, 12, 17, 100, 9
    CONTROL "", IDC_CLIENT_LIST, "SysListView32", WS_BORDER | WS_VSCROLL | WS_TABSTOP | LVS_SINGLESEL | LVS_NOSORTHEADER | LVS_SHOWSELALWAYS | LVS_REPORT, 12, 28, 166, 85
    LTEXT "Server stopped.", IDC_SERVER_STATUS, 12, 120, 100, 9
    PUSHBUTTON "&Start", IDC_START_SERVER, 118, 135, 60, 14

    GROUPBOX "Client", -1, 190, 5, 180, 150
    LTEXT "Server Address:", -1, 197, 17, 100, 9
    EDITTEXT IDC_SERVER_ADDRESS_EDIT, 197, 28, 166, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | ES_AUTOHSCROLL

    LTEXT "Server Port:", -1, 197, 47, 100, 9
    EDITTEXT IDC_SERVER_PORT_EDIT, 197, 58, 60, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | ES_AUTOHSCROLL
    AUTOCHECKBOX "Use default", IDC_SERVER_DEFAULT_PORT, 265, 60, 60, 8
    PUSHBUTTON "&Connect", IDC_CONNECT, 303, 135, 60, 14
END

IDD_AUTHDIALOG DIALOGEX 100, 100, 375, 160
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Aspia Remote Desktop"
FONT 8, "MS Shell Dlg"
BEGIN

END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_SERVER_STARTED "Server started."
    IDS_SERVER_STOPPED "Server stopped."
    IDS_START "&Start"
    IDS_STOP "&Stop"
END
