//
// PROJECT:         Aspia Remote Desktop
// FILE:            ui/lang/nl-NL.rc
// LICENSE:         See top-level directory
// TRANSLATOR:      Mark Jansen
//

#include "ui/resource.h"

LANGUAGE LANG_DUTCH, SUBLANG_NEUTRAL

// UTF-8
#pragma code_page(65001)

IDD_MAIN DIALOGEX 100, 100, 335, 152
STYLE DS_SHELLFONT | WS_BORDER | WS_OVERLAPPED | WS_SYSMENU | DS_CENTER | WS_MINIMIZEBOX | WS_CAPTION
CAPTION "Aspia Remote Desktop"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Server", -1, 5, 5, 160, 130
    LTEXT "Vul uw IP-addressen in:", -1, 12, 17, 100, 9
    CONTROL "", IDC_IP_LIST, "SysListView32", LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_SORTASCENDING | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 12, 28, 146, 80
    PUSHBUTTON "&Start", IDC_START_SERVER_BUTTON, 98, 115, 60, 14

    GROUPBOX "Client", -1, 170, 5, 160, 130
    LTEXT "Server Adres:", -1, 177, 17, 90, 9
    EDITTEXT IDC_SERVER_ADDRESS_EDIT, 177, 28, 146, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | ES_AUTOHSCROLL

    LTEXT "Server Poort:", -1, 177, 47, 100, 9
    EDITTEXT IDC_SERVER_PORT_EDIT, 177, 58, 50, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | ES_AUTOHSCROLL | ES_NUMBER
    AUTOCHECKBOX "Gebruik standaard", IDC_SERVER_DEFAULT_PORT_CHECK, 235, 60, 85, 8

    LTEXT "Session Type:", -1, 177, 77, 90, 9
    COMBOBOX IDC_SESSION_TYPE_COMBO, 177, 88, 146, 150, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL

    DEFPUSHBUTTON "&Verbinden...", IDC_CONNECT_BUTTON, 199, 115, 60, 14
    PUSHBUTTON "&Settings", IDC_SETTINGS_BUTTON, 263, 115, 60, 14
END

IDD_STATUS DIALOGEX 100, 100, 251, 90
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Verbindings Status"
FONT 8, "MS Shell Dlg"
BEGIN
    EDITTEXT IDC_STATUS_EDIT, 5, 5, 240, 60, WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP | ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL
    DEFPUSHBUTTON "&Annuleren", IDCANCEL, 196, 70, 50, 14
END

IDD_AUTH DIALOGEX 100, 100, 194, 73
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Autorisatie"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Gebruikersnaam:", -1, 10, 14, 65, 10
    EDITTEXT IDC_USERNAME_EDIT, 75, 11, 108, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP

    LTEXT "Wachtwoord:", -1, 10, 34, 65, 10
    EDITTEXT IDC_PASSWORD_EDIT, 75, 31, 108, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_PASSWORD

    DEFPUSHBUTTON "&OK", IDOK, 78, 53, 50, 14
    PUSHBUTTON "&Annuleren", IDCANCEL, 134, 53, 50, 14
END

IDD_SETTINGS DIALOGEX 20, 16, 165, 185
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Verbindings Instellingen"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Afstandsbediening", -1, 7, 7, 150, 152

    LTEXT "Codec:", -1, 15, 19, 80, 10
    COMBOBOX IDC_CODEC_COMBO, 15, 30, 134, 150, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL

    LTEXT "Kleur diepte:", IDC_COLOR_DEPTH_TEXT, 15, 48, 80, 10
    COMBOBOX IDC_COLOR_DEPTH_COMBO, 15, 59, 134, 150, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL

    LTEXT "Compressieverhouding:", IDC_COMPRESS_RATIO_TEXT, 15, 77, 80, 10
    LTEXT "Snel", IDC_FAST_TEXT, 15, 90, 20, 10
    RTEXT "Beste", IDC_BEST_TEXT, 129, 90, 20, 10
    CONTROL "", IDC_COMPRESS_RATIO_TRACKBAR, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 33, 89, 97, 12

    LTEXT "Scherm update interval (ms):", -1, 15, 113, 100, 10
    EDITTEXT IDC_INTERVAL_EDIT, 117, 109, 32, 14, ES_RIGHT | ES_NUMBER | WS_GROUP
    CONTROL "", IDC_INTERVAL_UPDOWN, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_BORDER | WS_GROUP, 140, 109, 12, 14

    AUTOCHECKBOX "Schakel &cursor vorm in", IDC_ENABLE_CURSOR_SHAPE_CHECK, 15, 129, 125, 8
    AUTOCHECKBOX "Schakel &klembord in", IDC_ENABLE_CLIPBOARD_CHECK, 15, 143, 125, 8

    DEFPUSHBUTTON "&OK", IDOK, 33, 164, 60, 14
    PUSHBUTTON "&Annuleren", IDCANCEL, 98, 164, 60, 14
END

IDD_ABOUT DIALOGEX 100, 100, 220, 200
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Over"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL -1, IDC_ABOUT_ICON, "STATIC", SS_ICON | SS_CENTERIMAGE | SS_REALSIZEIMAGE, 15, 10, 32, 32

    LTEXT "Aspia Remote Desktop (1.0.0.0)", IDC_VERSION_TEXT, 67, 15, 120, 11
    LTEXT "© 2016-2017 Dmitry Chapyshev", -1, 66, 27, 120, 10

    EDITTEXT IDC_ABOUT_EDIT, 5, 45, 210, 100, WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP | ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL
    CONTROL "", -1, "STATIC", SS_ETCHEDFRAME, 5, 151, 210, 27
    DEFPUSHBUTTON "&Doneer!", IDC_DONATE_BUTTON, 96, 156, 110, 15
    PUSHBUTTON "&Bezoek site", IDC_SITE_BUTTON, 13, 156, 75, 15

    PUSHBUTTON "&Sluiten", IDOK, 165, 181, 50, 14
END

IDD_USER_PROP DIALOGEX 100, 100, 220, 225
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Gebruikerseigenschappen"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Gebruikers Naam:", -1, 10, 15, 77, 10
    EDITTEXT IDC_USERNAME_EDIT, 100, 11, 110, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    LTEXT "Wachtwoord:", -1, 10, 35, 77, 10
    EDITTEXT IDC_PASSWORD_EDIT, 100, 31, 110, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_PASSWORD
    LTEXT "Wachtwoord (opnieuw):", -1, 10, 55, 77, 10
    EDITTEXT IDC_PASSWORD_RETRY_EDIT, 100, 51, 110, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_PASSWORD

    AUTOCHECKBOX "Gebruiker uitschakelen", IDC_DISABLE_USER_CHECK, 105, 72, 122, 8

    LTEXT "Toegestane sessie typen:", -1, 10, 85, 130, 10
    CONTROL "", IDC_SESSION_TYPES_LIST, "SysListView32", LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 9, 97, 200, 101

    PUSHBUTTON "&OK", IDOK, 104, 204, 50, 14
    PUSHBUTTON "&Annuleren", IDCANCEL, 160, 204, 50, 14
END

IDD_USERS DIALOGEX 100, 100, 215, 207
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Gebruikers Beheer"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Gebruiker Lijst", IDC_USERS_GROUPBOX, 5, 5, 204, 177

    CONTROL "", IDC_USER_LIST, "SysListView32", LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_SORTASCENDING | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 12, 18, 190, 140

    PUSHBUTTON "&Toevoegen...", ID_ADD, 14, 162, 60, 14
    PUSHBUTTON "&Bewerken...", ID_EDIT, 78, 162, 60, 14
    PUSHBUTTON "&Verwijderen", ID_DELETE, 142, 162, 60, 14

    PUSHBUTTON "&OK", IDOK, 105, 187, 50, 14
    PUSHBUTTON "&Annuleren", IDCANCEL, 159, 187, 50, 14
END

IDD_POWER DIALOGEX 100, 100, 128, 107
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
CAPTION "Power Manage"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Select an action", -1, 6, 6, 116, 76

    AUTORADIOBUTTON "Afsl&uiten",         ID_POWER_SHUTDOWN,  14, 19, 100, 14
    AUTORADIOBUTTON "&Opnieuw opstarten", ID_POWER_REBOOT,    14, 34, 100, 14
    AUTORADIOBUTTON "&Sluimerstand",      ID_POWER_HIBERNATE, 14, 49, 100, 14
    AUTORADIOBUTTON "S&laapstand",        ID_POWER_SUSPEND,   14, 64, 100, 14

    DEFPUSHBUTTON "&OK", IDOK, 19, 87, 50, 14
    PUSHBUTTON "&Annuleren", IDCANCEL, 72, 87, 50, 14
END

IDD_FILE_TRANSFER DIALOGEX 100, 100, 400, 173
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
CAPTION "File Transfer"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "From:", -1, 7, 6, 130, 10
    EDITTEXT IDC_FROM_EDIT, 7, 17, 384, 14, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_READONLY

    LTEXT "To:", -1, 7, 34, 130, 10
    EDITTEXT IDC_TO_EDIT, 7, 45, 384, 14, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_READONLY

    LTEXT "Current item:", -1, 7, 62, 130, 10
    EDITTEXT IDC_CURRENT_ITEM_EDIT, 7, 73, 384, 14, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_READONLY

    LTEXT "Total progress:", IDC_TOTAL_PROGRESS_TEXT, 7, 90, 200, 10
    CONTROL "", IDC_TOTAL_PROGRESS, PROGRESS_CLASS, WS_BORDER | WS_TABSTOP | PBS_MARQUEE, 7, 101, 384, 14

    LTEXT "Progress for the current item:", IDC_CURRENT_PROGRESS_TEXT, 7, 118, 200, 10
    CONTROL "", IDC_CURRENT_PROGRESS, PROGRESS_CLASS, WS_BORDER | WS_TABSTOP | PBS_MARQUEE, 7, 129, 384, 14

    PUSHBUTTON "&Cancel", IDCANCEL, 332, 152, 60, 14
END

IDD_FILE_REPLACE DIALOGEX 100, 100, 309, 78
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
CAPTION "File Transfer"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Item already exists:", -1, 7, 6, 200, 10
    EDITTEXT IDC_CURRENT_ITEM_EDIT, 7, 17, 295, 14, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_READONLY

    PUSHBUTTON "&Replace", IDC_REPLACE_BUTTON, 7, 37, 70, 14
    PUSHBUTTON "R&eplace all", IDC_REPLACE_ALL_BUTTON, 82, 37, 70, 14
    PUSHBUTTON "&Skip", IDC_SKIP_BUTTON, 157, 37, 70, 14
    PUSHBUTTON "S&kip all", IDC_SKIP_ALL_BUTTON, 232, 37, 70, 14

    PUSHBUTTON "&Cancel", IDCANCEL, 232, 57, 70, 14
END

IDD_FILE_STATUS DIALOGEX 100, 100, 275, 175
STYLE DS_SHELLFONT | WS_BORDER | WS_OVERLAPPED | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "File Transfer"
FONT 8, "MS Shell Dlg"
BEGIN
    EDITTEXT IDC_STATUS_EDIT, 5, 5, 265, 148, WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP | ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL
    PUSHBUTTON "&Stop transferring files", IDC_STOP_BUTTON, 70, 157, 125, 14
    PUSHBUTTON "&Minimize", IDC_MINIMIZE_BUTTON, 200, 157, 70, 14
END

IDR_SHORTCUTS MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "Ctrl+Esc",        ID_KEY_CTRL_ESC
        MENUITEM "Alt+Tab",         ID_KEY_ALT_TAB
        MENUITEM "Alt+Shift+Tab",   ID_KEY_ALT_SHIFT_TAB
        MENUITEM "PrintScreen",     ID_KEY_PRINTSCREEN
        MENUITEM "Alt+PrintScreen", ID_KEY_ALT_PRINTSCREEN
        MENUITEM "Ctrl+Alt+F12",    ID_KEY_CTRL_ALT_F12
        MENUITEM "F12",             ID_KEY_F12
        MENUITEM "Ctrl+F12",        ID_KEY_CTRL_F12
    END
END

IDR_TRAY MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "Weergeven / Verbergen", ID_SHOWHIDE
        MENUITEM "Exit", ID_EXIT
    END
END

IDR_USER MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "&Bewerken...", ID_EDIT
        MENUITEM "&Verwijderen", ID_DELETE
        MENUITEM SEPARATOR
        MENUITEM "&Toevoegen...", ID_ADD
    END
END

IDR_MAIN MENU
BEGIN
    POPUP "&Aspia"
    BEGIN
        POPUP "Service"
        BEGIN
            MENUITEM "&Installeren", ID_INSTALL_SERVICE
            MENUITEM "&Verwijderen", ID_REMOVE_SERVICE
        END
        MENUITEM "&Gebruikers...", ID_USERS
        MENUITEM SEPARATOR
        MENUITEM "&Exit\tAlt+F4", ID_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Online Help...\tF1", ID_HELP
        MENUITEM SEPARATOR
        MENUITEM "&Over...", ID_ABOUT
    END
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_APPLICATION_NAME          "Aspia Remote Desktop"
    IDS_START                     "&Start"
    IDS_STOP                      "&Stop"
    IDS_DONATE_LINK               "https://aspia.org/donate"
    IDS_SITE_LINK                 "https://aspia.org"
    IDS_HELP_LINK                 "https://aspia.org/help"

    IDS_ABOUT_STRING "Aspia Remote Desktop is vrije software, gereleased met de GNU LGPL license.\r\n\
                      Hier kunt u een kopie van de GNU LGPL bekijken:\r\n\
                      http://www.gnu.org/licenses/lgpl.html\r\n\r\n\
                      Hier kunt u vertalingen van de GNU LGPL licentie bekijken:\r\n\
                      http://www.gnu.org/licenses/translations.html\r\n\r\n\
                      Ontwikkelaars:\r\n\
                      • Dmitry Chapyshev (dmitry@aspia.ru)\r\n\r\n\
                      Bij het ontwikkelen zijn de volgende projecten gebruikt:\r\n\
                      • Chromium © 2015, The Chromium Authors, BSD 3-Clause Licentie\r\n\
                      • WebRTC © 2011, The WebRTC project authors, BSD 3-Clause Licentie\r\n\
                      • libvpx © 2010, The WebM Project authors, BSD 3-Clause Licentie\r\n\
                      • libyuv © 2011 The LibYuv Project Authors, BSD 3-Clause Licentie\r\n\
                      • protobuf © 2014 Google Inc., BSD 3-Clause Licentie\r\n\
                      • libglog © 2008 Google Inc., BSD 3-Clause Licentie\r\n\
                      • gflags © 2006 Google Inc., BSD 3-Clause Licentie\r\n\
                      • zlib-ng © 1995-2013 Jean-loup Gailly and Mark Adler, Zlib Licentie\r\n\
                      • libsodium © 2013-2017 Frank Denis, ISC License\r\n\
                      • Fugue Icons © 2013 Yusuke Kamiyamane, Creative Commons Attribution 3.0 Licentie"

    IDS_POWER                             "Power management van de externe computer"
    IDS_AUTO_SIZE                         "Scherm automatische grootte"
    IDS_SETTINGS                          "Instellingen"
    IDS_CAD                               "Stuur Ctrl+Alt+Del"
    IDS_EXIT                              "Huidige verbinding sluiten"
    IDS_FULLSCREEN                        "Schakel over naar volledig scherm"
    IDS_SHORTCUTS                         "Zend een toetsencombinatie"
    IDS_ABOUT                             "Over programma"
    IDS_CONNECTION                        "Verbinden naar: %s:%u"
    IDS_CONFIRMATION                      "Bevestiging"
    IDS_COMPRESSION_RATIO_FORMAT          "Compressie ratio: %d"
    IDS_32BIT                             "Ware kleuren (32 bit)"
    IDS_24BIT                             "Ware kleuren (24 bit)"
    IDS_16BIT                             "Hoge kleuren (16 bit)"
    IDS_15BIT                             "Hoge kleuren (15 bit)"
    IDS_12BIT                             "Hoge kleuren (12 bit)"
    IDS_8BIT                              "256 kleuren (8 bit)"
    IDS_6BIT                              "64 kleuren (6 bit)"
    IDS_3BIT                              "8 kleuren (3 bit)"
    IDS_INFORMATION                       "Informatie"
    IDS_INVALID_USERNAME                  "De gebruikersnaam mag niet leeg zijn, en alleen letters, nummers en ""_"", ""-"", ""."" karakters bevatten."
    IDS_USER_ALREADY_EXISTS               "De gekozen gebruikersnaam bestaat al."
    IDS_INVALID_PASSWORD                  "Wachtwoord mag niet korter dan 6 karakters zijn."
    IDS_PASSWORDS_NOT_MATCH               "De opgegeven wachtwoorden komen niet overeen."
    IDS_SESSION_TYPE_DESKTOP_MANAGE       "Bureaublad beheer"
    IDS_SESSION_TYPE_DESKTOP_VIEW         "Bureaublad weergave"
    IDS_SESSION_TYPE_POWER_MANAGE         "Power beheer"
    IDS_SESSION_TYPE_FILE_TRANSFER        "Bestandsoverdracht"
    IDS_SESSION_TYPE_SYSTEM_INFO          "Systeem informatie"
    IDS_DELETE_USER_CONFORMATION          "Weet u zeker dat u de gebruiker ""%s"" wilt verwijderen?"
    IDS_USER_LIST_MODIFIED                "Gebruiker Lijst (* aangepast)"
END

// File Transfer
STRINGTABLE DISCARDABLE
BEGIN
    IDS_FT_LOCAL_COMPUTER                 "Local Computer"
    IDS_FT_REMOTE_COMPUTER                "Remote Computer"
    IDS_FT_COLUMN_NAME                    "Name"
    IDS_FT_COLUMN_SIZE                    "Size"
    IDS_FT_COLUMN_TYPE                    "Type"
    IDS_FT_TOOLTIP_REFRESH                "Refresh the file list (F5)"
    IDS_FT_TOOLTIP_DELETE                 "Delete selected object(s) (Delete)"
    IDS_FT_TOOLTIP_FOLDER_ADD             "Create a new folder"
    IDS_FT_TOOLTIP_FOLDER_UP              "Browse to parent folder (Backspace)"
    IDS_FT_TOOLTIP_HOME                   "Browse to drives (Ctrl+Backspace)"
    IDS_FT_TOOLTIP_SEND                   "Send selected object(s) to remote computer (F11)"
    IDS_FT_TOOLTIP_RECIEVE                "Send selected object(s) to local computer (F11)"
    IDS_FT_HOME_FOLDER                    "Home Folder"
    IDS_FT_DESKTOP_FOLDER                 "Desktop"
    IDS_FT_SIZE_TBYTES                    "TB"
    IDS_FT_SIZE_GBYTES                    "GB"
    IDS_FT_SIZE_MBYTES                    "MB"
    IDS_FT_SIZE_KBYTES                    "KB"
    IDS_FT_SIZE_BYTES                     "B"
END

// Status
STRINGTABLE DISCARDABLE
BEGIN
    IDS_STATUS_SUCCESS                    "Successfully completed"
    IDS_STATUS_NO_CONSOLE_SESSION         "No console session"
    IDS_STATUS_ACCESS_DENIED              "Access denied"
    IDS_STATUS_FILE_NOT_FOUND             "File not found"
    IDS_STATUS_PATH_NOT_FOUND             "Path not found"
    IDS_STATUS_FILE_ALREADY_EXISTS        "File already exists"
    IDS_STATUS_PATH_ALREADY_EXISTS        "Path already exists"
    IDS_STATUS_DISK_FULL                  "Disk full"
    IDS_STATUS_INVALID_ADDRESS            "Ongeldig adres opgegeven"
    IDS_STATUS_INVALID_PORT               "Ongelide poort opgegeven"
    IDS_STATUS_CONNECT_TIMEOUT            "Verbinding timeout"
    IDS_STATUS_CONNECT_ERROR              "Kan geen verbinding opzetten"
    IDS_STATUS_CONNECTING                 "Verbinden"
    IDS_STATUS_UNKNOWN                    "Unknown status code"
END
