//
// PROJECT:         Aspia Remote Desktop
// FILE:            ui/lang/ru-RU.rc
// LICENSE:         See top-level directory
// PROGRAMMERS:     Dmitry Chapyshev (dmitry@aspia.ru)
//

#include "ui/resource.h"

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

// UTF-8
#pragma code_page(65001)

IDD_MAIN DIALOGEX 100, 100, 335, 152
STYLE DS_SHELLFONT | WS_BORDER | WS_OVERLAPPED | WS_SYSMENU | DS_CENTER | WS_MINIMIZEBOX | WS_CAPTION
CAPTION "Aspia Remote Desktop"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Сервер", -1, 5, 5, 160, 130
    LTEXT "Список ваших IP-адресов:", -1, 12, 17, 100, 9
    CONTROL "", IDC_IP_LIST, "SysListView32", LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_SORTASCENDING | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 12, 28, 146, 80
    PUSHBUTTON "&Запустить", IDC_START_SERVER_BUTTON, 98, 115, 60, 14

    GROUPBOX "Клиент", -1, 170, 5, 160, 130
    LTEXT "Адрес сервера:", -1, 177, 17, 90, 9
    EDITTEXT IDC_SERVER_ADDRESS_EDIT, 177, 28, 146, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | ES_AUTOHSCROLL

    LTEXT "Порт сервера:", -1, 177, 47, 100, 9
    EDITTEXT IDC_SERVER_PORT_EDIT, 177, 58, 50, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | ES_AUTOHSCROLL | ES_NUMBER
    AUTOCHECKBOX "По умолчанию", IDC_SERVER_DEFAULT_PORT_CHECK, 235, 60, 85, 8

    LTEXT "Тип сессии:", -1, 177, 77, 90, 9
    COMBOBOX IDC_SESSION_TYPE_COMBO, 177, 88, 146, 150, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL

    DEFPUSHBUTTON "&Подключиться...", IDC_CONNECT_BUTTON, 189, 115, 70, 14
    PUSHBUTTON "&Параметры", IDC_SETTINGS_BUTTON, 263, 115, 60, 14
END

IDD_STATUS DIALOGEX 100, 100, 251, 90
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Состояние подключения"
FONT 8, "MS Shell Dlg"
BEGIN
    EDITTEXT IDC_STATUS_EDIT, 5, 5, 240, 60, WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP | ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL
    DEFPUSHBUTTON "&Отмена", IDCANCEL, 196, 70, 50, 14
END

IDD_AUTH DIALOGEX 100, 100, 197, 73
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Авторизация"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Имя пользователя:", -1, 10, 14, 65, 10
    EDITTEXT IDC_USERNAME_EDIT, 78, 11, 108, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP

    LTEXT "Пароль:", -1, 10, 34, 65, 10
    EDITTEXT IDC_PASSWORD_EDIT, 78, 31, 108, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_PASSWORD

    DEFPUSHBUTTON "&OK", IDOK, 81, 53, 50, 14
    PUSHBUTTON "&Отмена", IDCANCEL, 137, 53, 50, 14
END

IDD_SETTINGS DIALOGEX 20, 16, 165, 185
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Параметры подключения"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Удаленный экран", -1, 7, 7, 150, 152

    LTEXT "Кодек:", -1, 15, 19, 80, 10
    COMBOBOX IDC_CODEC_COMBO, 15, 30, 134, 150, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL

    LTEXT "Глубина цвета:", IDC_COLOR_DEPTH_TEXT, 15, 48, 80, 10
    COMBOBOX IDC_COLOR_DEPTH_COMBO, 15, 59, 134, 150, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL

    LTEXT "Уровень сжатия:", IDC_COMPRESS_RATIO_TEXT, 15, 77, 80, 10
    LTEXT "Быстрее", IDC_FAST_TEXT, 15, 90, 30, 10
    RTEXT "Сильнее", IDC_BEST_TEXT, 120, 90, 30, 10
    CONTROL "", IDC_COMPRESS_RATIO_TRACKBAR, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 44, 89, 75, 12

    LTEXT "Интервал обн. экрана (мс):", -1, 15, 113, 100, 10
    EDITTEXT IDC_INTERVAL_EDIT, 117, 109, 32, 14, ES_RIGHT | ES_NUMBER | WS_GROUP
    CONTROL "", IDC_INTERVAL_UPDOWN, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_BORDER | WS_GROUP, 140, 109, 12, 14

    AUTOCHECKBOX "Включить изображение &курсора", IDC_ENABLE_CURSOR_SHAPE_CHECK, 15, 129, 125, 8
    AUTOCHECKBOX "Включить &буфер обмена", IDC_ENABLE_CLIPBOARD_CHECK, 15, 143, 125, 8

    DEFPUSHBUTTON "&OK", IDOK, 33, 164, 60, 14
    PUSHBUTTON "&Отмена", IDCANCEL, 98, 164, 60, 14
END

IDD_ABOUT DIALOGEX 100, 100, 220, 200
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "О программе"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL -1, IDC_ABOUT_ICON, "STATIC", SS_ICON | SS_CENTERIMAGE | SS_REALSIZEIMAGE, 15, 10, 32, 32

    LTEXT "Aspia Remote Desktop (1.0.0.0)", IDC_VERSION_TEXT, 67, 15, 120, 11
    LTEXT "© 2016-2017 Dmitry Chapyshev", -1, 66, 27, 120, 10

    EDITTEXT IDC_ABOUT_EDIT, 5, 45, 210, 100, WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP | ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL
    CONTROL "", -1, "STATIC", SS_ETCHEDFRAME, 5, 151, 210, 27
    DEFPUSHBUTTON "&Поддержать!", IDC_DONATE_BUTTON, 96, 156, 110, 15
    PUSHBUTTON "&Сайт", IDC_SITE_BUTTON, 13, 156, 75, 15

    PUSHBUTTON "&Закрыть", IDOK, 165, 181, 50, 14
END

IDD_USER_PROP DIALOGEX 100, 100, 220, 225
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Свойства пользователя"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Имя пользователя:", -1, 10, 15, 77, 10
    EDITTEXT IDC_USERNAME_EDIT, 100, 11, 110, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    LTEXT "Пароль:", -1, 10, 35, 77, 10
    EDITTEXT IDC_PASSWORD_EDIT, 100, 31, 110, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_PASSWORD
    LTEXT "Пароль (повторить):", -1, 10, 55, 77, 10
    EDITTEXT IDC_PASSWORD_RETRY_EDIT, 100, 51, 110, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_PASSWORD

    AUTOCHECKBOX "Отключить пользователя", IDC_DISABLE_USER_CHECK, 105, 72, 122, 8

    LTEXT "Разрешенные типы сессий:", -1, 10, 85, 130, 10
    CONTROL "", IDC_SESSION_TYPES_LIST, "SysListView32", LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 9, 97, 200, 101

    PUSHBUTTON "&OK", IDOK, 104, 204, 50, 14
    PUSHBUTTON "&Отмена", IDCANCEL, 160, 204, 50, 14
END

IDD_USERS DIALOGEX 100, 100, 215, 207
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | DS_CENTER
CAPTION "Управление пользователями"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Список пользователей", IDC_USERS_GROUPBOX, 5, 5, 204, 177

    CONTROL "", IDC_USER_LIST, "SysListView32", LVS_REPORT | LVS_NOCOLUMNHEADER | LVS_SORTASCENDING | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP, 12, 18, 190, 140

    PUSHBUTTON "&Добавить...", ID_ADD, 14, 162, 60, 14
    PUSHBUTTON "&Изменить...", ID_EDIT, 78, 162, 60, 14
    PUSHBUTTON "&Удалить", ID_DELETE, 142, 162, 60, 14

    PUSHBUTTON "&OK", IDOK, 105, 187, 50, 14
    PUSHBUTTON "&Отмена", IDCANCEL, 159, 187, 50, 14
END

IDD_POWER DIALOGEX 100, 100, 128, 107
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
CAPTION "Управление питанием"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Выбирите действие", -1, 6, 6, 116, 76

    AUTORADIOBUTTON "&Выключение",   ID_POWER_SHUTDOWN,  14, 19, 100, 14
    AUTORADIOBUTTON "&Перезагрузка", ID_POWER_REBOOT,    14, 34, 100, 14
    AUTORADIOBUTTON "&Гибернация",   ID_POWER_HIBERNATE, 14, 49, 100, 14
    AUTORADIOBUTTON "&Сон",          ID_POWER_SUSPEND,   14, 64, 100, 14

    DEFPUSHBUTTON "&OK", IDOK, 19, 87, 50, 14
    PUSHBUTTON "&Отмена", IDCANCEL, 72, 87, 50, 14
END

IDD_FILE_TRANSFER DIALOGEX 100, 100, 400, 173
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
CAPTION "Передача файлов"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Из:", -1, 7, 6, 130, 10
    EDITTEXT IDC_FROM_EDIT, 7, 17, 384, 14, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_READONLY

    LTEXT "В:", -1, 7, 34, 130, 10
    EDITTEXT IDC_TO_EDIT, 7, 45, 384, 14, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_READONLY

    LTEXT "Текущий элемент:", -1, 7, 62, 130, 10
    EDITTEXT IDC_CURRENT_ITEM_EDIT, 7, 73, 384, 14, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_READONLY

    LTEXT "Общий прогресс:", IDC_TOTAL_PROGRESS_TEXT, 7, 90, 200, 10
    CONTROL "", IDC_TOTAL_PROGRESS, PROGRESS_CLASS, WS_BORDER | WS_TABSTOP | PBS_MARQUEE, 7, 101, 384, 14

    LTEXT "Прогресс для текущего элемента:", IDC_CURRENT_PROGRESS_TEXT, 7, 118, 200, 10
    CONTROL "", IDC_CURRENT_PROGRESS, PROGRESS_CLASS, WS_BORDER | WS_TABSTOP | PBS_MARQUEE, 7, 129, 384, 14

    PUSHBUTTON "&Отмена", IDCANCEL, 332, 152, 60, 14
END

IDD_FILE_REPLACE DIALOGEX 100, 100, 309, 78
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
CAPTION "Передача файлов"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Элемент уже существует:", -1, 7, 6, 200, 10
    EDITTEXT IDC_CURRENT_ITEM_EDIT, 7, 17, 295, 14, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP | ES_READONLY

    PUSHBUTTON "&Заменить", IDC_REPLACE_BUTTON, 7, 37, 70, 14
    PUSHBUTTON "З&аменить все", IDC_REPLACE_ALL_BUTTON, 82, 37, 70, 14
    PUSHBUTTON "&Пропустить", IDC_SKIP_BUTTON, 157, 37, 70, 14
    PUSHBUTTON "П&ропустить все", IDC_SKIP_ALL_BUTTON, 232, 37, 70, 14

    PUSHBUTTON "&Cancel", IDCANCEL, 232, 57, 70, 14
END

IDR_SHORTCUTS MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "Ctrl+Esc",        ID_KEY_CTRL_ESC
        MENUITEM "Alt+Tab",         ID_KEY_ALT_TAB
        MENUITEM "Alt+Shift+Tab",   ID_KEY_ALT_SHIFT_TAB
        MENUITEM "PrintScreen",     ID_KEY_PRINTSCREEN
        MENUITEM "Alt+PrintScreen", ID_KEY_ALT_PRINTSCREEN
        MENUITEM "Ctrl+Alt+F12",    ID_KEY_CTRL_ALT_F12
        MENUITEM "F12",             ID_KEY_F12
        MENUITEM "Ctrl+F12",        ID_KEY_CTRL_F12
    END
END

IDR_TRAY MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "Показать / Скрыть", ID_SHOWHIDE
        MENUITEM "Выход", ID_EXIT
    END
END

IDR_USER MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "&Изменить...", ID_EDIT
        MENUITEM "&Удалить", ID_DELETE
        MENUITEM SEPARATOR
        MENUITEM "&Добавить...", ID_ADD
    END
END

IDR_MAIN MENU
BEGIN
    POPUP "&Aspia"
    BEGIN
        POPUP "Служба"
        BEGIN
            MENUITEM "&Установить", ID_INSTALL_SERVICE
            MENUITEM "&Удалить", ID_REMOVE_SERVICE
        END
        MENUITEM "&Пользователи...", ID_USERS
        MENUITEM SEPARATOR
        MENUITEM "&Выход\tAlt+F4", ID_EXIT
    END
    POPUP "&Помощь"
    BEGIN
        MENUITEM "&Онлайн справка...\tF1", ID_HELP
        MENUITEM SEPARATOR
        MENUITEM "&О программе...", ID_ABOUT
    END
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_APPLICATION_NAME          "Aspia Remote Desktop"
    IDS_START                     "&Запустить"
    IDS_STOP                      "&Остановить"
    IDS_DONATE_LINK               "https://aspia.org/donate"
    IDS_SITE_LINK                 "https://aspia.org"
    IDS_HELP_LINK                 "https://aspia.org/help"

    IDS_ABOUT_STRING "Aspia Remote Desktop - свободное программное обеспечение, распространяющеся по лицензии GNU LGPL.\r\n\
                      Вы можете получить копию лицензии GNU LGPL по адресу:\r\n\
                      http://www.gnu.org/licenses/lgpl.html\r\n\r\n\
                      Ознакомиться с переводом GNU LGPL на ваш язык можно по адресу:\r\n\
                      http://www.gnu.org/licenses/translations.html\r\n\r\n\
                      Разработчики:\r\n\
                      • Dmitry Chapyshev (dmitry@aspia.ru)\r\n\r\n\
                      При разработке были использованы наработки следующих проектов:\r\n\
                      • Chromium © 2015, The Chromium Authors, BSD 3-Clause License\r\n\
                      • WebRTC © 2011, The WebRTC project authors, BSD 3-Clause License\r\n\
                      • libvpx © 2010, The WebM Project authors, BSD 3-Clause License\r\n\
                      • libyuv © 2011 The LibYuv Project Authors, BSD 3-Clause License\r\n\
                      • protobuf © 2014 Google Inc., BSD 3-Clause License\r\n\
                      • libglog © 2008 Google Inc., BSD 3-Clause License\r\n\
                      • gflags © 2006 Google Inc., BSD 3-Clause License\r\n\
                      • zlib-ng © 1995-2013 Jean-loup Gailly and Mark Adler, Zlib License\r\n\
                      • libsodium © 2013-2017 Frank Denis, ISC License\r\n\
                      • Fugue Icons © 2013 Yusuke Kamiyamane, Creative Commons Attribution 3.0 License"

    IDS_POWER                             "Управление питанием удаленного компьютера"
    IDS_AUTO_SIZE                         "Автоматический размер окна"
    IDS_SETTINGS                          "Параметры"
    IDS_CAD                               "Отправить Ctrl+Alt+Del"
    IDS_EXIT                              "Закрыть текущее подключение"
    IDS_FULLSCREEN                        "Переключиться в полноэкранный режим"
    IDS_SHORTCUTS                         "Отправить комбинацию клавишь"
    IDS_ABOUT                             "О программе"
    IDS_CONNECTION                        "Подключение к: %s:%u"
    IDS_CONFIRMATION                      "Подтверждение"
    IDS_COMPRESSION_RATIO_FORMAT          "Уровень сжатия: %d"
    IDS_32BIT                             "True color (32 бит)"
    IDS_24BIT                             "True color (24 бит)"
    IDS_16BIT                             "High color (16 бит)"
    IDS_15BIT                             "High color (15 бит)"
    IDS_12BIT                             "High color (12 бит)"
    IDS_8BIT                              "256 цветов (8 бит)"
    IDS_6BIT                              "64 цвета (6 бит)"
    IDS_3BIT                              "8 цветов (3 бит)"
    IDS_INFORMATION                       "Информация"
    IDS_INVALID_USERNAME                  "Имя пользователя не может быть пустым и может содержать только символы алфавита, числа и символы ""_"", ""-"", "".""."
    IDS_USER_ALREADY_EXISTS               "Пользователь с указанным именем уже существует."
    IDS_INVALID_PASSWORD                  "Пароль не может быть короче 6 символов."
    IDS_PASSWORDS_NOT_MATCH               "Введенные пароли не совпадают."
    IDS_SESSION_TYPE_DESKTOP_MANAGE       "Управление рабочим столом"
    IDS_SESSION_TYPE_DESKTOP_VIEW         "Просмотр рабочего стола"
    IDS_SESSION_TYPE_POWER_MANAGE         "Управление питанием"
    IDS_SESSION_TYPE_FILE_TRANSFER        "Передача файлов"
    IDS_SESSION_TYPE_SYSTEM_INFO          "Информация о системе"
    IDS_DELETE_USER_CONFORMATION          "Вы действительно хотите удалить пользователя ""%s""?"
    IDS_USER_LIST_MODIFIED                "Список пользователей (* изменен)"
END

// File Transfer
STRINGTABLE DISCARDABLE
BEGIN
    IDS_FT_LOCAL_COMPUTER                 "Локальный компьютер"
    IDS_FT_REMOTE_COMPUTER                "Удаленный компьютер"
    IDS_FT_COLUMN_NAME                    "Имя"
    IDS_FT_COLUMN_SIZE                    "Размер"
    IDS_FT_COLUMN_TYPE                    "Тип"
    IDS_FT_TOOLTIP_REFRESH                "Обновить список файлов (F5)"
    IDS_FT_TOOLTIP_DELETE                 "Удалить выбранный объект(ы) (Delete)"
    IDS_FT_TOOLTIP_FOLDER_ADD             "Создать новую папку"
    IDS_FT_TOOLTIP_FOLDER_UP              "Перейти в родительскую папку (Backspace)"
    IDS_FT_TOOLTIP_HOME                   "Перейти в списку дисков (Ctrl+Backspace)"
    IDS_FT_TOOLTIP_SEND                   "Отправить выбранные объекты на удаленный компьютер (F11)"
    IDS_FT_TOOLTIP_RECIEVE                "Отправить выбранные объекты на локальный компьютер (F11)"
END

// Status
STRINGTABLE DISCARDABLE
BEGIN
    IDS_STATUS_SUCCESS                    "Успешно завершено"
    IDS_STATUS_NO_CONSOLE_SESSION         "Нет консольной сессии"
    IDS_STATUS_ACCESS_DENIED              "Доступ запрещен"
    IDS_STATUS_FILE_NOT_FOUND             "Файл не найден"
    IDS_STATUS_PATH_NOT_FOUND             "Путь не найден"
    IDS_STATUS_FILE_ALREADY_EXISTS        "Указанный файл уже существует"
    IDS_STATUS_PATH_ALREADY_EXISTS        "Указанный путь уже существует"
    IDS_STATUS_DISK_FULL                  "Нет свободного места на диске"
    IDS_STATUS_INVALID_ADDRESS            "Указан недопустимый адрес"
    IDS_STATUS_INVALID_PORT               "Указан недопустимый порт"
    IDS_STATUS_CONNECT_TIMEOUT            "Превышено время ожидания соединения"
    IDS_STATUS_CONNECT_ERROR              "Не удалось установить соединение"
    IDS_STATUS_CONNECTING                 "Подключение"
    IDS_STATUS_UNKNOWN                    "Неизвестный код состояния"
END
