[Desktop Entry]
Name=SmartCafe Console
Name[ru]=Консоль SmartCafe
Exec=/usr/bin/smartcafe_console
Icon=aspia_console.png
Type=Application
Categories=Utility;
MimeType=application/aab;
Terminal=false
