//
// PROJECT:         Aspia
// FILE:            aspia_core.rc
// LICENSE:         GNU Lesser General Public License 2.1
// PROGRAMMERS:     Dmitry Chapyshev (dmitry@aspia.ru)
//

#include <winuser.h>

#define VER_FILEVERSION             1,0,0,0
#define VER_FILEVERSION_STR         L"1.0.0.0\0"
#define VER_ORIGINALFILENAME_STR    "aspia_core.dll\0"
#define VER_FILEDESCRIPTION_STR     "Aspia Core"

#include "version.rc"
