//
// PROJECT:         Aspia Remote Desktop
// FILE:            ui/resource.rc
// LICENSE:         See top-level directory
// PROGRAMMERS:     Dmitry Chapyshev (dmitry@aspia.ru)
//

#include "ui/resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

// UTF-8
#pragma code_page(65001)

IDI_MAIN          ICON "resource/main.ico"
IDI_ABOUT         ICON "resource/about.ico"
IDI_CAD           ICON "resource/cad.ico"
IDI_DELETE        ICON "resource/delete.ico"
IDI_EXIT          ICON "resource/exit.ico"
IDI_FOLDER_ADD    ICON "resource/folder_add.ico"
IDI_FOLDER_UP     ICON "resource/folder_up.ico"
IDI_FULLSCREEN    ICON "resource/fullscreen.ico"
IDI_HOME          ICON "resource/home.ico"
IDI_AUTOSIZE      ICON "resource/autosize.ico"
IDI_KEYS          ICON "resource/keys.ico"
IDI_MINUS         ICON "resource/minus.ico"
IDI_PENCIL        ICON "resource/pencil.ico"
IDI_PLUS          ICON "resource/plus.ico"
IDI_RECIEVE       ICON "resource/recieve.ico"
IDI_REFRESH       ICON "resource/refresh.ico"
IDI_SEND          ICON "resource/send.ico"
IDI_SETTINGS      ICON "resource/settings.ico"
IDI_USER          ICON "resource/user.ico"
IDI_USER_DISABLED ICON "resource/user_disabled.ico"
