//
// PROJECT:         Aspia
// FILE:            address_book/resource.rc
// LICENSE:         GNU Lesser General Public License 2.1
// PROGRAMMERS:     Dmitry Chapyshev (dmitry@aspia.ru)
//

#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

1 ICON "ui/resource/address-book.ico"

#define VER_FILEVERSION             1,0,0,0
#define VER_FILEVERSION_STR         L"1.0.0.0\0"
#define VER_ORIGINALFILENAME_STR    "aspia_address_book.exe\0"
#define VER_FILEDESCRIPTION_STR     "Aspia Address Book"

#include "version.rc"
