[Unit]
Description=SmartCafe Router
Before=runlevel2.target runlevel3.target runlevel4.target runlevel5.target shutdown.target
After=network-online.target network.service ntp.service
Conflicts=shutdown.target

[Service]
WorkingDirectory=/usr/bin
#EnvironmentFile=/usr/bin/env.sh
Environment=ASPIA_LOG_LEVEL=2
Restart=always
ExecStart=/usr/bin/smartcafe_router
RestartSec=5000ms

[Install]
WantedBy=multi-user.target
