<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include variables.wxi?>
  <Fragment>
    <!-- Program Menu Shortcuts -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ConsoleProgramMenuShortcuts" Guid="{DFA97C7E-E565-44D2-8D1E-7AB1E52ADB01}">
        <Condition>STARTMENU_SHORTCUTS</Condition>
        <Shortcut Id="ConsoleProgramMenuShortcut" Name="Aspia Console" WorkingDirectory="INSTALLLOCATION"
                  Target="[INSTALLLOCATION]$(var.ConsoleExecutable)" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="SOFTWARE\$(var.ProductName)" Type="string"
                       Value="" KeyPath="yes" />
      </Component>
      <Component Id="HostProgramMenuShortcuts" Guid="{7DAD9257-8C4C-4C47-BC88-FDF5E6A71C95}">
        <Condition>STARTMENU_SHORTCUTS</Condition>
        <Shortcut Id="HostConfigProgramMenuShortcut" Name="!(loc.HostConfigShortcutName)"
                  Target="[INSTALLLOCATION]$(var.HostConfigExecutable)"
                  WorkingDirectory="INSTALLLOCATION"/>
        <RegistryValue Root="HKCU" Key="SOFTWARE\$(var.ProductName)" Type="string"
                       Value="" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- Desktop Shortcuts -->
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ConsoleDesktopShortcuts" Guid="{267EB96D-5B4D-4636-9782-B3DE22BC2AA1}">
        <Condition>DESKTOP_SHORTCUTS</Condition>
        <Shortcut Id="ConsoleDesktopShortcut" Name="Aspia Console" WorkingDirectory="INSTALLLOCATION"
                  Target="[INSTALLLOCATION]$(var.ConsoleExecutable)" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\$(var.ProductName)" Type="string"
                       Value="" KeyPath="yes" />
      </Component>
      <Component Id="HostDesktopShortcuts" Guid="{B04D7FC4-5CF8-40DC-BC76-5E5F1E7AA3C6}">
        <Condition>DESKTOP_SHORTCUTS</Condition>
        <Shortcut Id="HostConfigDesktopShortcut" Name="!(loc.HostConfigShortcutName)"
                  Target="[INSTALLLOCATION]$(var.HostConfigExecutable)"
                  WorkingDirectory="INSTALLLOCATION"/>
        <RegistryValue Root="HKCU" Key="SOFTWARE\$(var.ProductName)" Type="string"
                       Value="" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLLOCATION" FileSource="$(var.SourceFiles)">

      <!-- Core Library -->
      <Component Id ="CoreApplications" DiskId="1" Guid="{E940D6C5-BC4C-41EF-9D40-8417E15FC224}">
        <File Id="$(var.CoreLibrary)" Name="$(var.CoreLibrary)" KeyPath="yes" />
      </Component>

      <!-- Console Applications -->
      <Component Id ="ConsoleApplications" DiskId="1" Guid="{CEFF3F25-494A-4CDD-B9F9-446EC94003F9}">
        <File Id="$(var.ConsoleExecutable)" Name="$(var.ConsoleExecutable)" KeyPath="yes" />
        <ProgId Id="ConsoleAddressBook" Description="!(loc.AddressBookFile_Description)"
                Icon="$(var.ConsoleExecutable)" IconIndex="1">
          <Extension Id="aab">
            <Verb Id="AspiaAddressBookFile" Command="Open" TargetFile="$(var.ConsoleExecutable)"
                  Argument='"%1"' />
          </Extension>
        </ProgId>
      </Component>

      <!-- Console Settings -->
      <Component Id="ConsoleSettings" DiskId="1" Guid="{D57EC906-C0FE-4717-AEAC-DF46B4B1E617}">
        <RegistryValue Root="HKCU" Key="SOFTWARE\$(var.ProductName)\Console" Name="Locale" Type="string"
                       Value="!(loc.Locale)" KeyPath="yes" />
        <RemoveRegistryKey Id="RemoveConsoleSettings" Root="HKCU" Key="SOFTWARE\$(var.ProductName)"
                           Action="removeOnUninstall" />
      </Component>

      <!-- Host Applications -->
      <Component Id ="HostApplications" DiskId="1" Guid="{504F0249-32C0-47F6-942C-FF04389F6C12}">
        <File Id="$(var.HostServiceExecutable)" Name="$(var.HostServiceExecutable)" KeyPath="yes" />
        <File Id="$(var.HostExecutable)" Name="$(var.HostExecutable)" />
        <File Id="$(var.HostConfigExecutable)" Name="$(var.HostConfigExecutable)" />
        <File Id="$(var.HostNotifierExecutable)" Name="$(var.HostNotifierExecutable)" />
        <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Vital="yes"
                        Name="$(var.ServiceName)" DisplayName="$(var.ServiceDisplayName)"
                        Description="$(var.ServiceDescription)"
                        Start="auto" Account="LocalSystem" ErrorControl="ignore" Interactive="no">
          <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart"
                              ThirdFailureActionType="restart" RestartServiceDelayInSeconds="60"/>
        </ServiceInstall>
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall"
                        Name="$(var.ServiceName)" Wait="yes" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\$(var.ProductName)\Host" Name="Locale" Type="string"
                       Value="!(loc.Locale)" />
        <!--RemoveRegistryKey Id="RemoveHostSettings" Root="HKLM" Key="SOFTWARE\$(var.ProductName)"
                           Action="removeOnUninstall" /-->
      </Component>
    </DirectoryRef>

    <!-- Translations -->
    <DirectoryRef Id="TRANSLATIONS" FileSource="$(var.SourceFiles)\translations">
      <Component Id="TranslationGerman" DiskId="1" Guid="{A66B1894-E68C-4F1C-B135-E2739BC7D717}">
        <File Id="aspia_de.qm" Name="aspia_de.qm" KeyPath="yes" />
        <File Id="qtbase_de.qm" Name="qtbase_de.qm" />
      </Component>
      <Component Id="TranslationDutch" DiskId="1" Guid="{A8C3C5A2-E3B8-4001-BCA8-7D634761E8C5}">
        <File Id="aspia_nl.qm" Name="aspia_nl.qm" KeyPath="yes" />
      </Component>
      <Component Id="TranslationRussian" DiskId="1" Guid="{2CB24855-3B78-47AC-BAC8-D558EEE7519E}">
        <File Id="aspia_ru.qm" Name="aspia_ru.qm" KeyPath="yes" />
        <File Id="qtbase_ru.qm" Name="qtbase_ru.qm" />
      </Component>
      <Component Id="TranslationUkrainian" DiskId="1" Guid="{9101972F-87F0-4571-9C57-4C73C3A5989E}">
        <File Id="aspia_uk.qm" Name="aspia_uk.qm" KeyPath="yes" />
        <File Id="qtbase_uk.qm" Name="qtbase_uk.qm" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
