<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include variables.wxi?>
  <Product Id="{E8E6DCA6-143F-4865-A3EB-63B74B3B4378}" Name="$(var.ProductName)" Language="1033"
           Version="$(var.Version)" Manufacturer="$(var.Manufacturer)"
           UpgradeCode="{A2C5BB66-6951-4342-B3A6-51201CD85758}">
    <Package InstallerVersion="200" Compressed="yes" Manufacturer="$(var.Manufacturer)"
             InstallPrivileges="elevated" InstallScope="perMachine" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)"
                  Schedule="afterInstallExecute" />

    <Icon Id="aspia.ico" SourceFile="resources/aspia.ico"/>
    <Property Id="ARPPRODUCTICON" Value="aspia.ico" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.ProductName)">
          <Directory Id="TRANSLATIONS" Name="translations" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)" />
      </Directory>
      <Directory Id="DesktopFolder" />
    </Directory>

    <Feature Id="FeatureProduct" Title="$(var.ProductName)" Absent="disallow" AllowAdvertise="no"
             Display="expand" InstallDefault="local" Description="!(loc.CoreDescription)"
             ConfigurableDirectory="INSTALLLOCATION" Level="1">
      <ComponentRef Id="CoreApplications" />
      <ComponentRef Id="ConsoleApplications" />
      <ComponentRef Id="ConsoleSettings" />
      <ComponentRef Id="ConsoleProgramMenuShortcuts" />
      <ComponentRef Id="ConsoleDesktopShortcuts" />
      <Feature Id="HostFeature" Title="!(loc.HostService_Title)"
               Description="!(loc.HostService_Description)" Absent="allow" AllowAdvertise="no"
               TypicalDefault="install" InstallDefault="local" Level="2">
        <ComponentRef Id="HostApplications" />
        <ComponentRef Id="HostProgramMenuShortcuts" />
        <ComponentRef Id="HostDesktopShortcuts" />
      </Feature>
      <Feature Id="TranslationsFeature" Title="!(loc.Translations_Title)"
               Description="!(loc.Translations_Description)" Absent="disallow" AllowAdvertise="no"
               TypicalDefault="install" InstallDefault="local" Level="2" Display="expand">
        <Feature Id="FeatureDutchTranslation" Title="!(loc.DutchLanguage_Title)"
                 Description="!(loc.DutchLanguage_Description)" Absent="allow" AllowAdvertise="no"
                 TypicalDefault="install" InstallDefault="local" Level="3">
          <ComponentRef Id="TranslationDutch" />
        </Feature>
        <Feature Id="FeatureRussianTranslation" Title="!(loc.RussianLanguage_Title)"
                 Description="!(loc.RussianLanguage_Description)" Absent="allow"
                 AllowAdvertise="no" TypicalDefault="install" InstallDefault="local" Level="3">
          <ComponentRef Id="TranslationRussian" />
        </Feature>
      </Feature>
    </Feature>
    <Property Id="INSTALLLEVEL" Value="3" />

    <WixVariable Id="WixUIBannerBmp" Value="resources/banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="resources/dialog.bmp" />
    <WixVariable Id="WixUIExclamationIco" Value="resources/exclamation.ico" />
    <WixVariable Id="WixUIInfoIco" Value="resources/info.ico" />
    <WixVariable Id="WixUINewIco" Value="resources/new.ico" />
    <WixVariable Id="WixUIUpIco" Value="resources/up.ico" />
    <WixVariable Id="WixUILicenseRtf" Value="resources/license.rtf" />

    <UI Id="InstallerUI">
      <Dialog Id="ShortcutsDlg" Width="370" Height="270" Title="!(loc.CustomizeDlg_Title)">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no"
                 Text="!(loc.CustomizeDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="2" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="2" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="210" Height="15" Transparent="yes"
                 NoPrefix="yes" Text="!(loc.CustomizeDlgTitle)" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes"
                 NoPrefix="yes" Text="!(loc.CustomizeDlgDescription)" />

        <Control Id="DesktopShortcutCheckBox" Type="CheckBox" Height="18" Width="295" X="26" Y="58"
             Text="!(loc.CreateDesktopShortcuts)" Property="DESKTOP_SHORTCUTS" CheckBoxValue="1" />
        <Control Id="ProgramMenuShortcutCheckBox" Type="CheckBox" Height="18" Width="295" X="26" Y="79"
             Text="!(loc.CreateProgramMenuShortcuts)" Property="STARTMENU_SHORTCUTS" CheckBoxValue="1" />

        <Control Id="Next" Type="PushButton" X="248" Y="243" Width="56" Height="17" Default="yes"
                 Text="!(loc.WixUINext)">
          <Publish Event="NewDialog" Value="VerifyReadyDlg" Order="10" />
        </Control>
        <Control Id="Back" Type="PushButton" X="192" Y="243" Width="56" Height="17"
                 Text="!(loc.WixUIBack)">
          <Publish Event="NewDialog" Value="CustomizeDlg" Order="10" />
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes"
                 Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>

      <Property Id="STARTMENU_SHORTCUTS">1</Property>
      <Property Id="DESKTOP_SHORTCUTS">1</Property>

      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="ShortcutsDlg" Order="10">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="ShortcutsDlg" Order="10">1</Publish>

      <UIRef Id="WixUI_FeatureTree" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>
  </Product>
</Wix>
