<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include variables.wxi?>
  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ConsoleShortcuts" Guid="{DFA97C7E-E565-44D2-8D1E-7AB1E52ADB01}">

      </Component>
      <Component Id="HostShortcuts" Guid="{7DAD9257-8C4C-4C47-BC88-FDF5E6A71C95}">

      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
